.program-wrapper {
    .top-container {
        height: 996px;
        h1 {
            width: 100%;
        }
    }
    .semi-transparent-background {
        height: 100%;
    }

    .program-card {
        margin-right: 50px;
        margin-bottom: 50px;
        &.active {
            background-color: #ffffff;
            color: #000000;
        }
    }
    .comparison-table {
        padding: 0 15px 75px 15px;
        display: flex;
        justify-content: center;
        &tbody,td,a:first-child{
            :hover{
                cursor: default;
            }
        }
        tr {
            &:last-child td {
                padding-top: 12px !important;
                padding-bottom: 12px !important;
            }
        }
        th, td {
            border-right: 1px solid lightgray !important;
            padding-top: 16px !important;
        }
        th {
            border-bottom: 1px solid #4a90e2 !important;
            font-family: $sans-serif-medium;
        }
        td {
            border-bottom: 1px solid #e9e9e9;
            color: #121212 !important;
            font-size: 15px !important;
        }
        tfoot {
            background-color: #e9e9e9;
            td {
              font-weight: bold;
            }
        }
        a {
            color: #121212;
            font-family: $sans-serif-medium;
        }
        .sub-header {
            font-size: 11px;
            color: gray;
        }
        .text-r-align {
            text-align: right;
        }
    }
    .team-container {
        padding-top: 70px;
        .title {
            font-family: BentonSansBBVA;
            font-size: 42px;
            padding-bottom: 16px;
            font-weight: bold;
            color: #121212;
        }
        .sub-title {
            padding-bottom: 40px;
        }
        .nav {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }
        .nav-tabs {
            flex: 1;
            display: flex;
            overflow: auto;
            flex-wrap: wrap;
            border-bottom: 1px solid rgba(41, 134, 202, 0.1);
            li {
                padding: 0;
                display:block;
                text-align: center;
                width: 260px;
                a {
                    display:block;
                    padding: 1.5rem 0;
                    color: #555;
                   text-decoration: none;
                   font-family: none;
                }
                & > a:hover, &.active > a {
                    -webkit-box-shadow: inset 0px -6px 0px -3px #1973b8;
                    box-shadow: inset 0px -6px 0px -3px #1973b8;
                    border: none;
                    color: #121212;
                    text-decoration: none;
                    background-color: transparent;
                }
            }
        }
    }
}


.program-wrapper .team-container .nav-tabs li a{
  font-family: 'BentonSansBBVA Medium';
  font-size: 20px;
}
.program__list--outer{
  position:relative;
  z-index:5;
  padding-top:220px;
  padding:150px 16px 0px 16px;
  @include breakpoint(small) {
    padding:220px 0px 0px 0px;
  }

  h2{
    color:$white;
    font-family: $sans-serif-medium;
    font-weight: 500;
    @include font-size(3.2);
    @include breakpoint(small) {
      @include font-size(4.2);
    }
  }
}
.program-list{
  padding-top:32px;
  width:90%;
  height:350px;
  overflow-y:auto;
  @include breakpoint(small) {
    height:600px;
  }
}
.program-list ul{
  margin:0px;
  padding:0px;
}

.program-list ul li{
  padding-left:0px;
}
.program-list ul li{
  display:inline-block;
  width: 100%;
  @include breakpoint(tablet) {
    width: 50%;
  }
  @include breakpoint(small) {
    width: auto;
  }
}

.program-list a{
  display:block;
  width:100%;
  height:100px;
  border:1px solid #fff;
  background:transparent;
  padding:90px 20px 20px 20px;
  margin-right:50px;
  margin-bottom:50px;
  position: relative;
  cursor:pointer;
  color:#fff;
  @include breakpoint(tablet) {
    width:90%;
  }
  @include breakpoint(small) {
    width:200px;
    height:200px;
  }

  .name{
    position:absolute;
    bottom:20px;
    left:20px;
  }
}

a.program-list-details-thumb{

  color:#000;
  float:left;
  background:#fff;
}
.program-list a:hover{
  background:#fff;
  color:#000;
}
.program-list a:before{
  position: absolute;
  top:10px;
  left:20px;
  content:'+';
  display:block;
  font-size:40px;
  font-family: "BentonSansBBVA Light";
  width:26px;
  height: 48px;
  @include breakpoint(small) {
    top:30px;
    left:30px;
  }
}

.project-title{
  font-family: $sans-serif-medium;
  font-size:20px;
  display:block;
  letter-spacing:normal;
}

.project-type{
  font-family: $sans-serif;
  font-size:20px;
  display:block;
}


.team-container{
  padding:70px 0px 70px 0px;
  h2{
    @include font-size(4.2);
    padding-bottom:10px;
  }
  p{
    font-size: 22px;
    padding-bottom:70px;
  }
  .profile-image{
    width:121px;
    height:121px;
    border-radius: 100%;
  }

  .team-card-icons-margin span{ @include font-size(2.0);}
}

.table {
  @include element('header') {
    text-align: center;
    padding: 0px 16px 40px 16px;
    position: relative;
    h2 {
      @include font-size(2.8);
      margin-bottom: 8px;
      line-height: 48px;
      font-family: $sans-serif-medium;
      letter-spacing: 0;
      font-weight: normal;
      @include breakpoint(small) {
        @include font-size(3.6);
        margin-bottom: 16px;
      }
    }
    p {
      padding-bottom: 24px;
      color: $grey500;
      letter-spacing: 0;
    }
  }
}

.upcoming__section{ min-height:120px; width:100%;}

.program{ display:block; padding-bottom:54px;}
.program /deep/ .heroarea__bg{
  &:before{
    background: #072146;
  }
}


.program-card {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  color: #ffffff;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  padding: 20px;
  .name {
        display: flex;
        flex-direction: column;
        span:first-child {
          font-weight: 700;
          font-size: 14px;
        }
   }
}
.program-details {
    margin: 0 auto;
    padding-bottom: 40px;
    color: #ffffff;
    padding-left: 14%;
    padding-right: 14%;
    .program-list {
        display: flex;
        .p-name {
            margin-right: 50px;
            margin-bottom: 50px;
        }
    }
    .progress-bar {
        margin: 10px 0;
        height: 15px;
        .bar:first-child {
            background-color: red;
        }
        .bar:last-child {
            background-color: yellow;
        }
    }
    .date-range {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .program-details-card {
        display: flex;
        justify-content: space-between;
        .details-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 10px;
            height: 100px;
            width: 200px;
            border: 1px solid #ECD44A;
            span {
                font-size: 14px;
                font-weight: 700;
                &:last-child {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (min-width: 1176px) {
    .footer__social-links {
        margin-bottom: 0;
    }
    .footer__social-links ul {
        justify-content: flex-start;
    }
}

.card-content-paddings {
    width: 100%;
    padding: 13% 9% 6% 9%;
}

.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: -40px;
}

.team-card-icons {
    margin-left: 10px;
}

.team-card-icons-margin {
    margin-top: 80px;
}

.employee-designation-margin {
    margin-top: 1.5%;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.center-align-horizontaly {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.blue-medium-wcag {
    .body-copy-bold {
        font-size: 1.3rem;
    }
}