<div class="program-wrapper" *ngIf="!loadProgramDetails">
  <app-background-image-component class="program">
    <div class="container program__list--outer">
      <div class="row">
        <div class="col-sm-12">
          <h2>Programs</h2>
          <div class="program-list">
            <ul id="submenu-nav">
              <li>
                <a href="#program1-detail">
                  <div class="name">
                    <span class="project-title">AUTOMIK</span>
                    <span class="project-type">Global</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#program2-detail">
                  <div class="name">
                    <span class="project-title">PFM</span>
                    <span class="project-type">Global</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#program3-detail">
                  <div class="name">
                    <span class="project-title">ILA</span>
                    <span class="project-type">Compass</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#program4-detail">
                  <div class="name">
                    <span class="project-title">Salesforce</span>
                    <span class="project-type">Simple</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#program5-detail">
                  <div class="name">
                    <span class="project-title">COVAULT</span>
                    <span class="project-type">NDB</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </app-background-image-component>

  <section class="table__header">
    <div class="container">
      <h2>This is Massively</h2>
      <p>Let's look at the numbers, and see how we're doing.</p>
    </div>
  </section>
  <div class="tables">
    <section class="comparison-table container">
      <table style="border: 1px solid lightgray">
        <thead>
          <tr>
            <th *ngFor="let header of tableData.headers">
              <div>{{header.title}}</div>
              <div class="sub-header" *ngIf="header.subTitle">({{header.subTitle}})</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableData.data">
            <td data-label="PROGRAM"><a (click)='getProgramDetails(data.programName)'>{{data.programName}}</a></td>
            <td data-label="ORG">{{data.org}}</td>
            <td data-label="PROGRAM SPEND" class="text-r-align">{{data.programSpend}}</td>
            <td data-label="PROGRAM SAVING" class="text-r-align">{{data.programSaving}}</td>
            <td data-label="NO. OF RESHORES" class="text-r-align">{{data.noOfOffResource}}</td>
            <td data-label="NO. OF RESHORES" class="text-r-align">{{data.noOfOnResource}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td data-label="TOTAL SPEND" class="text-r-align">{{tableData['totals'].totalSpendings}}</td>
            <td data-label="TOTAL SAVING" class="text-r-align">{{tableData['totals'].totalSavings}}</td>
            <td data-label="TOTAL ONSHORE" class="text-r-align">{{tableData['totals'].totalOffShore}}</td>
            <td data-label="TOTAL OFFSHORE" class="text-r-align">{{tableData['totals'].totalOnShore}}</td>
          </tr>
        </tfoot>
      </table>
    </section>
  </div>
  <!--team list-->
  <section class="bg-grey100">
    <div class="container team-container">
      <div class="col-4 col-sm-12">
        <h2>Team</h2>
        <p>Have a question? Need help? Choose an option.</p>
      </div>
      <!--Tab lists-->
      <div class="col-4 col-mb-12 col-sm-12">
        <ul class="nav nav-tabs responsive-tabs" role="tablist">
          <li role="presentation" [ngClass]="{'active': activeTeam === 'onshore'}" (click)="renderTeam($event, 'onshore')">
            <a href="#onshore" aria-controls="onshore" role="tab" data-toggle="tab" class="button">ONSHORE</a>
          </li>
          <li role="presentation" [ngClass]="{'active': activeTeam === 'offshore'}" (click)="renderTeam($event, 'offshore')">
            <a href="#offshore" aria-controls="offshore" role="tab" data-toggle="tab" class="button">OFFSHORE</a>
          </li>
        </ul>
      </div>
      <!--End here-->
      <div class="row tab-content">
        <div class="col-4 col-mb-3 col-sm-4" *ngFor="let employee of team; let i = index">
          <a class="card">
            <div class="card__product center-align-horizontaly">
              <img [src]="employee.imageUrl" class="profile-image" />
              <div class="card-content-paddings">
                <div>
                  <h6 class="grey600 cut-text">
                    {{
                    employee.name
                    }}
                  </h6>
                  <div class="body-copy employee-designation-margin">
                    <span class="grey500 sub-text cut-text">
                      {{
                      employee.designation
                      }}
                    </span>
                  </div>
                  <div class="team-card-icons-margin">
                    <span class="ui-show blue-medium-wcag"></span>
                    <span class="ui-press blue-medium-wcag team-card-icons"></span>
                    <span class="ui-chat-conversation blue-medium-wcag team-card-icons"></span>
                    <span class="ui-email blue-medium-wcag team-card-icons"></span>
                  </div>
                </div>

              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>



<!-- Comparison Table ends here -->

<!-- <ul>
  <li><a [routerLink]="['profile']">Profile</a></li>
</ul> -->
<app-programdetail-component *ngIf="loadProgramDetails"></app-programdetail-component>