<app-background-image-component>
</app-background-image-component>
<!--Program Details-->
<div class="program-details">
    <h1>Programs</h1>
    <div class="row">
        <div class="col-mb-4 col-sm-3" style="padding: 0">
            <div class="program-card">
                <div>+</div>
                <div class="name">
                    <span>SALESFORCE</span>
                    <span>Simple</span>
                </div>
            </div>
        </div>

        <div class="col-mb-8 col-sm-9">
            An automatic transmission, also called auto, self-shifting transmission,
            n-speed automatic or AT ... These systems have a defined set of gear ranges,
            often with a parking pawl that locks the output shaft of the transmission to keep the vehicle.
        </div>
    </div>
    <div class="row">PROJECT PLAN</div>
    <div class="progress-bar row">
        <div class="col-mb-8 col-sm-8 bar"></div>
        <div class="col-mb-8 col-sm-4 bar"></div>
    </div>
    <div class="date-range">
        <span>NOV '18</span>
        <span>FEB '19</span>
    </div>
    <div class="program-details-card">
        <div class="details-card">
            <span>PROGRAM SAVINGS</span>
            <span>$ 32K</span>
        </div>
        <div class="details-card">
            <span>PROGRAM SAVINGS</span>
            <span>$ 32K</span>
        </div>
        <div class="details-card">
            <span>PROGRAM SAVINGS</span>
            <span>$ 32K</span>
        </div>
        <div class="details-card">
            <span>PROGRAM SAVINGS</span>
            <span>$ 32K</span>
        </div>
    </div>
</div>
<!--End here-->