//////////////////////
//    VARIABLES    //
////////////////////

// BBVA Compass font size
$bbva-compass-font-size: 4.0 !default;
$icomoon-font-path: 'fonts';
$icon-logo-BBVA_Compass: "\e903";
$icon-logo-bancomer-1: "\e900";
$icon-logo-bancomer: "\e901";
$icon-logo-bbva: "\e902";

// Font Family defaults
$logos-subtitle-font-family: $sans-serif-light !default;
$logos-compass-font-family-defaults: $sans-serif-regular !default;

// default color
$logos-divider-default-color: $navy !default;


@font-face {
  font-family: 'ico-logo';
  src: url('#{$bbva-font-path}ico-logo.eot');
  src: url('#{$bbva-font-path}ico-logo.eot?#iefix') format('embedded-opentype'),
  url('#{$bbva-font-path}ico-logo.ttf') format('truetype'),
  url('#{$bbva-font-path}ico-logo.woff') format('woff'),
  url('#{$bbva-font-path}ico-logo.svg?#ico-logo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;

  @include breakpoint(small) {
    justify-content: inherit;
  }

  a {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include font-size(3.1);

    @include breakpoint(small) {
      flex-direction: row;
      text-align: left;
    }

    .logos__tagline {
      font-family: $logos-subtitle-font-family;
      margin-top: 8px;
      p {
        margin-top: 0px;
        margin-bottom: 0;
      }

      @include breakpoint(small) {
        border-left: 1px solid $logos-divider-default-color;
        padding-top: 6px;
        padding-left: 16px;
        margin-left: 16px;
        margin-top: 0;
        p {
          margin-top: 6px;
        }
      }
    }
  }
  // Modify the color of the logo here
  &--alternative {
    a {
      color: $navy;
    }
  }

  // BBVA Compass content class for logo
  &--compass {
    &:after {
      font-family: $logos-compass-font-family-defaults;
      @include font-size($bbva-compass-font-size);
      content: "Compass";
      padding-left: 10px;
      margin-bottom: 8px;
      position: relative;
      top: 2px;
      @include breakpoint(small){
        margin-bottom: 0;
      }
    }
  }

  [class^="icon-logo"],
  [class*="icon-logo"] {
    // use !important to prevent issues with browser extensions that change fonts
    font-family: 'ico-logo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    // Better Font Rendering ===========
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-logo-BBVA_Compass {
    // logo BBVA Compass {
    &:before {
      content: $icon-logo-BBVA_Compass;
    }
  }
  .icon-logo-bancomer-inline {
    // logo Bancomer 1 {
    &:before {
      content: $icon-logo-bancomer-1;
    }
  }
  .icon-logo-bancomer {
    // logo Bancomer {
    &:before {
      content: $icon-logo-bancomer;
    }
  }
  .icon-logo-bbva {
    // logo BBVA {
    &:before {
      content: $icon-logo-bbva;
      position: relative;
      top: 2px;
    }
  }

  &__experience {
    display: flex;
    flex: 1;
    align-items: center;
    // padding: 8px;
    justify-content: center;
    @include breakpoint(small) {
      justify-content: inherit;
    }
    b {
      padding-top: 4px;
      color: $grey500;
      font-family: $sans-serif-light;
      @include font-size(1.433);
      // line-height: 18px;
    }
    a {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: 'ico-logo' !important;
      @include font-size(3.1);

      @include breakpoint(small) {
        text-align: left;
      }
    }
    .icon-logo-bbva {
      // logo BBVA {
      &:before {
        content: $icon-logo-bbva;
      }
    }
  }
}

























//
