<div class="bs-example">
  <!--  BBVA Logo only -->
  <section class="logos">
    <a href="https://www.bbva.com" class="icon-logo-bbva" aria-label="BBVA logo"></a>
  </section>

  <!--  Logo & Text BBVA -->
  <section class="logos">
    <a href="https://www.bbva.com" class="icon-logo-bbva" aria-label="BBVA logo" aria-describedby="bbva-logo-subtext">
      <span class="logos__tagline" id="bbva-logo-subtext"> Enter Your Text Here</span>
    </a>
  </section>

  <!-- Logo & Text BBVA Compass -->
  <section class="logos">
    <a href="https://www.bbvacompass.com/" aria-label="BBVA Compass" aria-describedby="bbva-logo-compass-subtext">
      <span class="icon-logo-bbva logos--compass"></span>
      <span class="logos__tagline" id="bbva-logo-compass-subtext">
        <p>Enter Your Text Here</p>
      </span>
    </a>
  </section>

  <!--  Bancomer Logo only -->
  <section class="logos logos--alternative">
    <a href="https://www.bancomer.com" class="icon-logo-bancomer-inline" aria-label="BBVA bancomer logo"></a>
  </section>

  <!--  Logo & Text Bancomer -->
  <section class="logos logos--alternative">
    <a href="https://www.bancomer.com" class="icon-logo-bancomer-inline" aria-label="BBVA bancomer logo"
      aria-describedby="bbva-logo-bancomer-subtext">
      <span class="logos__tagline" id="bbva-logo-bancomer-subtext"> Enter Your Text Here</span>
    </a>
  </section>

  <!--  Experience Logo -->
  <section class="logos__experience">
    <a href="https://www.bbva.com" class="icon-logo-bbva" aria-label="BBVA logo" aria-describedby="bbva-logo-experience-subtext">
      <b id="bbva-logo-experience-subtext">Enter Your Text Here</b>
    </a>
  </section>
</div>