.header {
  position:relative;
  z-index:10;
  font-family: $sans-serif-medium;
  a {
    font-family: $sans-serif-bold;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    &:focus {
      border-bottom: 0px;
      text-decoration: none;
      text-decoration: none;
      border-bottom: 0px;
      color: $white;
    }
    &:hover,
    &:active {
      border-bottom: 0px solid $grey400;
      outline: none !important;
      text-decoration: none;
      color: $white;
    }
  }
  @include element('navigations') {
    display: none;
    @include breakpoint(small) {
      display: block;
    }
    a.logo {
      opacity: 1;
      position: relative;
      top: -3px;
    }
    a.logo {
      display: block;
      text-align: center;
      font-size: 19px;
      color: $white;
      b {
        font-family: "Benton Sans Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
        border-left: 1px solid rgba(244, 244, 244, 0.5);
        padding-left: 14px;
        margin-left: 14px;
        position: relative;
        top: -3px;
        font-size: 18px;
        @include breakpoint(small) {
          font-size: 28px;
        }
      }
      @include breakpoint(small) {
        display: inline-block;
        text-align: left;
        font-size: 25px;
      }
    }
    .logo-container {
      padding-top:55px;
    }
    .link-container {
      padding-top: 70px;
      @media only screen and (max-width: 767px) {
        margin: 0px 16px;
        width: 100%;
      }
      ul.primary_nav {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        text-align: right;
        li {
          @include font-size(1.8);
          font-family:$sans-serif-bold;
          text-transform: uppercase;
          letter-spacing: 0.8px;
          padding-bottom: 0px;
          line-height: 28px;
          padding-left:32px;
          display: inline-block;
          a {
            color: $grey400;
            &:hover {
              color: $white;
            }
            &.active {
              color: $white;
            }
          }
        }
      }
    }
    ul.auth_nav {
      display: inline-block;
      width: 19%;
      text-align: right;
      li {
        font-size: 1.4rem;
        padding-bottom: 0px;
        line-height: 28px;
        display: inline-block;
        &:first-child {
          padding-left: 0px;
          a {
            color: $yellow;
          }
        }
      ;
      }
    }
  }

  .mob_level_third_nav {
    display: none;
    &.show {
      display: block;
      @include breakpoint(small) {
        display: none;
      }
    }
    background-color:$blue-core;
    padding: 8px 15px;
    ul {
      margin-bottom: 0px;
      li {
        padding: 0px 0px;
        a {
          @include font-size(1.6);
          font-family: $sans-serif-light;
          display: block;
          line-height: 24px;
        }
        ul {
          li {
            padding: 8px 0px !important;
            border-top: 1px solid $white;
            a {
              line-height: 24px;
            }
          }
        }
      }
      .mob_dropdown .icon-arrow {
        top: 0px;
      }
      .mob_dropdown .dropdown-menu {
        border: 0px;
        margin-top: 8px;
      }
    }
    @include breakpoint(small) {
      display: none;
    }
  }
  .mob-header {
    position:relative;
    z-index:10;
    a {
      opacity: 1;
      font-size: 21px;
      color:$white;
    }
    display: block;
    @include breakpoint(small) {
      display: none;
    }
    padding-bottom: 0.81em;
    padding-top: 0.81em;
    .menu-icon {
      text-align: left;
      position: relative;
      top: -2px;
      .ui-menu{
        @include font-size(2.4);
      }
    }
    .logo-sec {
      text-align: center;
      a {
        font-size: 18px;
       img{ height:30px;}
      }
    }
    .login-icon {
      text-align: right;
      a {
        @include font-size(1.5);
        font-family: $sans-serif-medium;
      }
    }
  }
}

.menuactive {
  transition: left 0.2s ease;
  left: 100%;
  width: 320px;
  position: absolute;
  @include breakpoint(small) {
    width: 768px;
  }
}

.mob-search {
  display: none;
}

.sid-menu,
.sid-menu-open {
  .ui-x{  padding-top:16px; color:#fff; @include font-size(2.4);}
  .bbva-logo{
    padding-top:16px;
    img{ height:30px;}
  }

  background: #072146;
  left: -100%;
  transition: left 0.2s ease;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 99;
  width: 100%;
  overflow-x: none;
  overflow-y: auto;
  font-size: 15px;
  color: $white;
  .container {
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    .primary_nav {
      margin-bottom: 1em;
    }
    .auth_nav {
      display: none;
    }
    .mob-search {
      display: block;
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
      margin-bottom: 1em;
      label {
        font-size: 16px;
      }
      input {
        background: transparent;
        border: 0px;
        width: 93%;
        color: #fff;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-size: 16px;
        &:focus {
          outline: none;
        }
      }
    }
    .top-nav-links {
      color: $blue-white-medium;
      li {
        padding-left: 8px;
      }
    }
  }




  .main-nav-links {
    -webkit-flex: 0;
    flex: 0;
    -webkit-order: 1;
    order: 1;
  }
  .top-nav-links {
    -webkit-flex: 1;
    flex: 1;
    -webkit-order: 2;
    order: 2;
    ul {
      margin-left: 10px;
    }
  }
  .logo-container {
    padding: 20px;
    font-size: 18px;
    a {
      color: $white;
      margin: 0px auto;
      display: block;
      width: 215px;
      font-size: 18px;
      b {
        font-family: "Benton Sans Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
        border-left: 1px solid rgba(244, 244, 244, 0.5);
        padding-left: 12px;
        margin-left: 12px;
        position: relative;
        top: 0px;
        font-size: 22px;
      }
    }
    @include breakpoint(small) {
      a {
        color: $white;
        margin: 0px auto;
        width: 130px;
        display: block;
        font-size: 21px;
        text-align: left;
      }
    }
  }
  .link-container {
    margin: 70px 16px;
    width: 320px;
    li {
      margin-left: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
    .userinfo {
      padding: 20px 0px;
    }
    a {
      border-bottom: 1px solid rgba(211, 211, 211, 0.3);
      border-top: none;
      color: $blue-white-medium;
      font-family: $sans-serif-light;
      @include font-size(1.8);
      line-height: 24px;
      padding: 0.85em 0px;
      display: block;
      width: 100%;
    }
  }
}

.sid-menu-open {
  left: 0px;
  @include breakpoint(small){
    left: -100%;
  }
  .ui-x{  padding-top:16px; color:#fff; @include font-size(2.4);}
  .bbva-logo{
    padding-top:16px;
    img{ height:30px;}
  }

}

.side-icon-toggle {
  a.ui-menu {
    position: fixed;
    top: 18px;
    left: 15px;
    z-index: 1000;
    &:before {
      content: "\e905";
    }
  }
}

.mega-menulink {
  color: #f8cd51;
}

.mega-menulink i {
  padding-right: 5px;
  &.ico-to_titleview {
    position: relative;
    top: 1px;
  }
}

.skip-link {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  color: $white !important;
  background-color: $navy;
}

a.skip-link:active,
a.skip-link:focus,
a.skip-link:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  color: $white !important;
}

.mob_dropdown a {
  text-decoration: none;
}

.mob_dropdown [data-toggle="dropdown"] {
  position: relative;
}

.mob_dropdown .icon-arrow {
  position: absolute;
  display: block;
  @include font-size(2.3);
  color: #fff;
  top: 14px;
  right: 0px;
  font-style: normal;
}

.mob_dropdown .icon-arrow:before {
  font-family: 'bbva-sn-icons' !important;
  content: "\e923";
  color: $blue-white-medium;
}

.mob_dropdown .icon-arrow.open:before {
  content: "\e90e";
}

.mob_dropdown .icon-arrow.close:before {
  content: "\e923";
}

.mob_dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mob_dropdown .dropdown-menu li {
  padding: 0;
}

.mob_dropdown .dropdown-menu li a {
  display: block;
  color: #fff;
}

.mob_dropdown .dropdown-menu li a:hover {}

.mob_dropdown .show,
.mob_dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.mob_dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
}

.mob_dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

@media only screen and (max-width: 767px) {
  .mob_dropdown .dropdown-menu,
  .mob_dropdown .icon-arrow {
    display: block;
  }
}

@include breakpoint(small) {
  .mob_dropdown .dropdown-menu,
  .dropdown-menu.show,
  .mob_dropdown .icon-arrow {
    display: none;
  }
}

@include breakpoint(small) {
  .mob_dropdown .dropdown-menu,
  .dropdown-menu.show,
  .mob_dropdown .icon-arrow {
    display: none;
  }
}




/*new header logo ***/

.bbva-logo img {
  height: 63px;
}
