.heroarea{
   width: 100%;
   height: 590px;
   position:relative;
   margin-top:-121px;
  @include breakpoint(small) {
    height: 996px;
  }
  @include element('bg') {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/bg-image.jpeg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    z-index:1;
    &:before {
      width: 100vw;
      height: 100%;
      content: '';
      background: #072146;
      opacity: 0.7;
      display: block;
      z-index:2;
    }
  }
  @include element('content'){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position:relative;
    z-index:4;
    width:100%;
    height:640px;
    @include breakpoint(small) {
      height:986px;
    }
    div{
      width:850px;
      margin:0px auto;
      padding:0px 16px;
    }
    h1{
      color:$white;
      font-family:$sans-serif-bold;
      font-weight: 500;
      margin: 0px;
      @include font-size(3.8);
      line-height: 48px;
      margin-bottom:24px;
      @include breakpoint(small) {
        @include font-size(6.8);
        line-height: 78px;
      }
    }
    p{
      color:$white;
      line-height: 18px;
      @include font-size(1.5);
      @include breakpoint(small) {
        line-height: 28px;
        @include font-size(1.8);
      }
    }

    @include modifier('image'){
      text-align:center;
      position:absolute;
      bottom:-18px;
      left:0px;
      right:0px;
      z-index:4;
      max-width:1140px;
      margin:0px auto;
      img{
        width:90%;
        margin:0px auto;
        display:block;
      }
      @include breakpoint(tablet) {
        bottom:-27px;
        img {
          width:60%;
        }
      }
      @include breakpoint(small) {
        bottom:-48px;
        img {
          width:70%;
        }
      }
    }
  }
}