ngu-tile {
    height: 372px;
    width: 350px;
}
ngu-tile:nth-child(even) {
    margin-top: 28px;
}
ngu-tile:nth-child(odd) {
    margin-top: -28px;
}
.program-1 {
    background-color: #f35e61;
}
.program-2 {
    background-color: #d3d3d3;
}
.program-3 {
    background-color: #004481;
}
.program-4{
    background-color: #d4edfc;
}
.program-5 {
    background-color: #d8be75;
}
.tile-contnent {
    padding: 56px 50px 40px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .know-more {
        display: flex;
        justify-content: space-between;
        span {
            font-family: 'BentonSansBBVA Medium', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
        }
    }
    .program-img {
        padding-bottom: 40px;
    }
}
.left-arrow, .right-arrow {
    position: absolute;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    font-size: 26px;
    top: calc(50% - 40px);
}
.right-arrow {
    right: 10px;
}
.program-1, .program-3, .program-5 {
    .know-more {
        span {
            color: #ffffff;
        }
    }
}
.program-2, .program-4 {
    .know-more {
        span {
            color: #1464a5;
        }
    }
}


.ngucarousel[_ngcontent-c2] { //for carousel
    padding: 10px 0;
}

@media only screen and (min-width: 400px) {
    .ngucarousel-items > .item {
        width: 392px !important;
        flex: none !important;
    }
}