<ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
    <ngu-tile *nguCarouselDef="let item; let i = index">
        <div class="tile tile-wrp {{item.class}}"  style="min-height: 200px">
            <div class="tile-contnent">
                <div class="program-img"><img src="{{item.imgSrc}}" /></div>
                <div class="know-more">
                    <span>More details</span>
                    <span class="ui-arrow-right"></span>
                </div>
            </div>
        </div>
    </ngu-tile>
    <button NguCarouselPrev class="left-arrow ui-simple-left"></button>
    <button NguCarouselNext class="right-arrow ui-simple-right"></button>
</ngu-carousel>