<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer__wrapper">
                    <div class="footer__logo">
                        <div class="logos">
                            <a href="https://www.bbvacompass.com/" aria-label="BBVA Compass" aria-describedby="bbva-logo-compass-subtext">
                                <span class="icon-logo-bbva logos--compass"></span>
                                <span class="logos__tagline" id="bbva-logo-compass-subtext">
                                    <p>banking on a brighter future.℠</p>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="footer__nav">
                        <ul>
                            <li>
                                <a href="SecurityCenter.html" title="Click to security center">Security Center</a>
                            </li>
                            <li>
                                <a href="Privacy.html" title="Click to Privacy">Privacy</a>
                            </li>
                            <li>
                                <a href="Terms.html" title="Click to Terms">Terms</a>
                            </li>
                            <li>
                                <a href="SiteMap.html" title="Click to Site Map">Site Map</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__social">
                        <div class="footer__social-links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/bbvacompass" title="Like us on Facebook" target="_blank">
                                        <i class="ui-facebook-filled"></i>
                                        <span class="sr-only">Facebook icon</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/bbvacompass" title="Like us on Twitter" target="_blank">
                                        <i class="ui-twitter-filled"></i>
                                        <span class="sr-only">Twitter icon</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/bbvacompass" title="Find us on Instagram" target="_blank">
                                        <i class="ui-instagram-filled"></i>
                                        <span class="sr-only">Instagram icon</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/bbva-compass" title="Find us on Linkedin"
                                        target="_blank">
                                        <i class="ui-linkedin-filled"></i>
                                        <span class="sr-only">Linkedin icon</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/+bbvacompass/" title="Join us on Google Plus"
                                        target="_blank">
                                        <i class="ui-google-plus-filled"></i>
                                        <span class="sr-only">Google Plus icon</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/bbvacompass/" title="Find us on Pinterest"
                                        target="_blank">
                                        <i class="ui-pinterest-filled"></i>
                                        <span class="sr-only">Pinterest icon</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/bbvacompass" title="Find us on Youtube"
                                        target="_blank">
                                        <i class="ui-youtube-filled"></i>
                                        <span class="sr-only">Youtube icon</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__disclosure">
                        <p class="disclaimer-copy">© 2018 BBVA Compass Bancshares, Inc. Compass Bank is a Member FDIC
                            and an
                            Equal Housing Lender. BBVA Compass is a
                            trade name of Compass Bank, a member of the BBVA Group.
                        </p>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>