<header class="header">
  <nav class="header__navigations">
    <!-- Main Naviation -->
    <div class="container">
      <!-- Main Site Sections -->
      <div class="main-nav-links">
        <div class="row">
          <div class="logo-container col-sm-4">
            <a class="bbva-logo" title="bbva compass">
              <img src="assets/img/logo.png" alt="logo">
            </a>
          </div>
          <div class="col-sm-8 link-container">
            <ul class="primary_nav">
              <li> <a title="Click to home page" class="button" [routerLink]="['home']" routerLinkActive="active"> Home</a> </li>
              <li> <a title="Click to programs page" class="button" [routerLink]="['programs']" routerLinkActive="active"> Programs</a> </li>
              <li> <a title="click to change" class="button"> En</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Main Naviation end-->
    </div>
    <!--mobile only header end-->
  </nav>

  <!--mobile only header-->
  <div class="mob-header" [class.side-icon-toggle]="ismenuOpend">
    <div class="container">
      <div class="row">
      <div class="menu-icon col-1">
        <a href="javascript:void(0);" (click)="toogleNav($event)" id="mobmenuIcon" class="navbar-toggle ui-menu" title="menu icon"> <span class="sr-only">View Menu</span> </a>
      </div>
      <div class="logo-sec col-2"> <a title="bbva compass" > <img src="assets/img/logo.png" alt="bbva logo"></a> </div>
      <div class="login-icon col-1">
        <span><a  title="english">EN</a></span> </div>
        </div>
    </div>

  </div>

</header>
<!--header comp end-->


<!--mobile only menu-->
<div id="sid_main" class="sid-menu" [class.sid-menu-open]="ismenuOpend" (click)="toogleNav($event)">
  <!-- Main Naviation -->
  <div class="container">
    <div class="row">
       <div class="col-1">
         <a href="javascript:void(0);"  class="ui-x" title="menu icon"> <span class="sr-only">View Menu</span> </a>
       </div>
       <div class="col-3">
         <a class="bbva-logo" title="bbva compass">
           <img src="assets/img/logo.png" alt="logo">
         </a>
       </div>
      </div>
    <!-- Main Site Sections -->
    <div class="main-nav-links">
      <div class="row">
        <div class="link-container">
          <ul class="primary_nav">
            <li> <a title="Click to Home page" [routerLink]="['home']" routerLinkActive="active"> Home <i class="icon-arrow"></i> </a> </li>
            <li> <a title="Click to Programs page" [routerLink]="['programs']" routerLinkActive="active"> Programs <i class="icon-arrow"></i> </a> </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Main Naviation end-->
  </div>
</div>
<!--mobile only menu-->
