<h4 class="content-title">Brand Logo</h4>
<div class="bs-example bg-navy">
  <svg class="brand-logo" width="72" height="72" xmlns="http://www.w3.org/2000/svg">
    <g class="brand-logo__wrapper" fill="none" fill-rule="evenodd">
      <path class="brand-logo__lines" d="M67.716 36.359c0 17.318-14.04 31.358-31.358 31.358S5 53.677 5 36.359C5 19.04 19.04 5 36.358 5 53.677 5 67.716 19.04 67.716 36.36z"
        stroke="#FFF" stroke-width="1.223" stroke-linecap="round" stroke-dasharray="0,2.752427184466019" />
      <path class="brand-logo__circle" d="M56.647 36.358c0 11.206-9.084 20.29-20.289 20.29-11.205 0-20.29-9.084-20.29-20.29 0-11.205 9.085-20.289 20.29-20.289 11.205 0 20.29 9.084 20.29 20.29"
        fill="#004481" />
      <path class="brand-logo__text" d="M48.823 33.53c-.252-.777-.395-.958-1.137-.958h-1.804l-2.89 9.443h1.467l.616-2.04h3.445l.621 2.04h2.556l-2.874-8.485zm-3.328 5.062l1.287-4.307 1.31 4.307h-2.597zM34.529 36.274l.452-.686c.982-1.45.305-3.022-1.625-3.022h-4.11v9.449h3.967c3.488 0 4.543-4.06 1.316-5.74zm-3.06 4.476v-6.948h1.212c.582 0 1.09.483 1.09 1.06 0 .204-.045.39-.24.686l-.783 1.18c.818.197 1.366.826 1.366 2.003 0 1.416-.85 2.019-1.974 2.019h-.672zM26.527 36.274l.463-.686c.97-1.45.304-3.022-1.623-3.022H21.25v9.449h3.972c3.484 0 4.537-4.06 1.305-5.74m-2.378 4.475h-.676v-6.948h1.214c.583 0 1.092.483 1.092 1.06 0 .204-.046.39-.24.686l-.787 1.18c.816.197 1.37.826 1.37 2.003 0 1.416-.852 2.019-1.973 2.019M38.676 33.8c-.337-1.064-.506-1.234-1.153-1.234h-1.668l3.088 9.45h2.273l2.878-9.45h-1.5l-2.125 7.175-1.793-5.94z"
        fill="#FFF" />
    </g>
  </svg>
</div>

<h4 class="content-title">Design Ambassadors Logo</h4>
<div class="bs-example bg-navy">
  <svg class="designAmb-logo" width="72" height="72" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <path  id="a" d="M.165 9.894v9.284h7.332V.168z" />
      <path id="c" d="M.25 19.898h7.33V9.78L.25.101z" />
      <path d="M21.143 13.966a1.665 1.665 0 0 1-3.27-.449l-.001-11.66a1.665 1.665 0 1 1 3.271-.45v12.559zM7.09 29.789a1.664 1.664 0 0 1-1.217-1.605V3.188a1.668 1.668 0 0 1 3.334 0v24.996a1.67 1.67 0 0 1-1.22 1.605H7.09zM.21 3.19v11.66a1.665 1.665 0 1 0 3.331 0V3.19a1.665 1.665 0 1 0-3.331 0zm11.996 3v11.66a1.666 1.666 0 1 0 3.333 0V6.191a1.666 1.666 0 1 0-3.333 0zM.21 19.185c0 .918.745 1.667 1.665 1.667a1.668 1.668 0 0 0 0-3.332c-.918 0-1.665.745-1.665 1.665zm11.996 3c0-.92.748-1.667 1.667-1.667a1.667 1.667 0 1 1-1.667 1.667z"
        id="e" />
      <linearGradient x1="-.298%" y1="-.204%" x2="-.298%" y2="1152.703%" id="f">
        <stop stop-color="#FFF" offset="0%" />
        <stop stop-color="#FFF" offset="100%" />
      </linearGradient>
      <path id="h" d="M3.454 28.411H.12V.084h3.334V28.41z" />
      <path d="M17.872 5.687h3.332V.355h-3.332v5.332zm-5.666 0h3.333V.355h-3.333v5.332zm-6.332 0h3.334V.355H5.874v5.332zm-5.664 0h3.332V.355H.21v5.332z"
        id="j" />
    </defs>
    <g fill="none" fill-rule="evenodd">
      <!-- left wing -->
      <path class="designAmb-logo__left-wing" fill="#2A86CA" d="M14 48.283h16.33V26.62z" />
      <g transform="translate(20.833 29.104)">
        <mask id="b" fill="#fff">
          <use xlink:href="#a" />
        </mask>
        <path fill="#004481" opacity=".2" mask="url(#b)" d="M-1.5 20.844H9.164V-1.498H-1.5z" />
      </g>

      <!-- right wing -->
      <path class="designAmb-logo__right-wing" fill="#2A86CA" d="M40.995 48.283h16.663L40.995 26.287z" />
      <g transform="translate(42.411 28.385)">
        <mask id="d" fill="#fff">
          <use xlink:href="#c" />
        </mask>
        <path fill="#004481" opacity=".2" mask="url(#d)" d="M-1.417 21.563H9.248V-1.565H-1.417z" />
      </g>
      <g transform="translate(24.79 38.095)">
        <mask id="g" fill="#fff">
          <use xlink:href="#e" />
        </mask>
        <path fill="url(#f)" mask="url(#g)" d="M.21 29.789h20.933V.189H.21z" />
      </g>
      <!-- Medium Flames -->
      <path class="designAmb-logo__medium-flame"  d="M36.996 60.28a1.667 1.667 0 1 0 3.334-.002 1.667 1.667 0 0 0-3.334.002m-11.997-3a1.667 1.667 0 0 0 3.331 0 1.666 1.666 0 0 0-3.332 0m11.998-12.993v11.658a1.666 1.666 0 1 0 3.332 0V44.287a1.666 1.666 0 1 0-3.332 0m-11.997-3v11.659a1.665 1.665 0 1 0 3.331 0v-11.66a1.666 1.666 0 1 0-3.331 0"
        fill="#FADE8E" />
      <g transform="translate(30.543 39.534)">
        <mask id="i" fill="#fff">
          <use xlink:href="#h" />
        </mask>
        <path class="designAmb-logo__flames" d="M.12 1.75v24.996c0 .923.746 1.665 1.666 1.665.919 0 1.668-.746 1.668-1.665V1.75a1.668 1.668 0 0 0-3.333 0" fill="#FADE8E" mask="url(#i)" />
      </g>
      <!-- Small Flame -->
      <path class="designAmb-logo__small-flame" d="M42.66 39.953v11.659a1.665 1.665 0 1 0 3.333 0v-11.66a1.665 1.665 0 1 0-3.332 0" fill="#FADE8E" />
      <g transform="translate(24.79 44.928)">
        <mask id="k" fill="#fff">
          <use xlink:href="#j" />
        </mask>
        <path fill="#004481" opacity=".2" mask="url(#k)" d="M-1.457 7.353h24.328V-1.31H-1.457z" />
      </g>

      <!-- Rocket Body -->
      <path class="designAmb-logo__body"  d="M24.331 20.622c.117 0 0 27.66 0 27.66H46.66v-27.66c0-7.999-11.33-15.33-11.33-15.33s-11 7.331-11 15.33" fill="#5BBEFF" />

      <!-- Rocket Window -->
      <path  d="M29.997 22.288c0-3.203 2.461-5.665 5.665-5.665 2.87 0 5.332 2.462 5.332 5.665 0 2.87-2.461 5.333-5.332 5.333-3.204 0-5.665-2.463-5.665-5.333" fill="#072146" />
    </g>
  </svg>

</div>

<h4 class="content-title">Design Logo</h4>
<div class="bs-example bg-navy">
    <svg width="72" height="72" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <path id="a" d="M.308 5.728H13.09V.441H.308v5.287z" />
            <path id="c" d="M15.422.239l6.85 12.045-3.237 14.907H4.038L.8 12.293 7.652.239h7.77z" />
            <path id="e" d="M0 61.808h47V.164H0z" />
        </defs>
        <g fill="none" fill-rule="evenodd">
            <path fill="#237ABA" d="M28.88 61.496h15.156v-5.287H28.88z" />
            <g transform="translate(30.945 55.768)">
                <mask id="b" fill="#fff">
                    <use xlink:href="#a" />
                </mask>
                <path d="M.308 7.743L15.623-7.642l7.263 12.689-5.684 5.075H9.307c-.631 0-5.842-1.428-5.842-1.428l-3.157-.95z"
                    fill="#004481" mask="url(#b)" />
            </g>
            <path d="M54.142 10.688H18.774a.474.474 0 0 1-.473-.476c0-.262.212-.475.473-.475h35.368a.474.474 0 0 1 0 .95" fill="#FFF"
            />
            <path class="design-logo__lines" d="M34.86 9.95a.632.632 0 1 1 .66.603l-.03-.001a.633.633 0 0 1-.63-.603m3.11.631a.63.63 0 0 1-.585-.675.63.63 0 0 1 .674-.59.64.64 0 0 1 .587.679.638.638 0 0 1-.632.59c-.013 0-.028 0-.043-.004m-5.613-.29a.633.633 0 1 1 .727.522.633.633 0 0 1-.727-.521m8.04.61a.632.632 0 0 1-.501-.743.63.63 0 0 1 .738-.504c.344.066.57.4.503.742a.633.633 0 0 1-.74.504m-10.483.033a.632.632 0 1 1 1.213-.356.635.635 0 0 1-.607.813.632.632 0 0 1-.606-.457m12.855.577a.637.637 0 0 1-.408-.8.628.628 0 0 1 .793-.409.636.636 0 0 1-.193 1.238.683.683 0 0 1-.192-.03m-15.202.355a.636.636 0 0 1 .33-.833.636.636 0 1 1 .25 1.218.625.625 0 0 1-.58-.385m17.485.534a.637.637 0 0 1-.31-.84.63.63 0 1 1 1.147.529.632.632 0 0 1-.575.371.606.606 0 0 1-.262-.06m-19.705.676a.631.631 0 1 1 1.092-.638.633.633 0 0 1-1.092.638m21.864.485a.64.64 0 0 1-.207-.873.63.63 0 0 1 .87-.209.635.635 0 0 1-.663 1.082m-23.926.978a.635.635 0 0 1 .124-.889h.002a.63.63 0 0 1 .885.126.64.64 0 0 1-.126.889.629.629 0 0 1-.885-.126m25.936.43h.003a.634.634 0 0 1 .78-.995.635.635 0 0 1-.392 1.132.63.63 0 0 1-.391-.136M21.41 16.236a.64.64 0 0 1 .02-.897.634.634 0 1 1-.02.897m29.64.369a.632.632 0 0 1 .003-.896.628.628 0 0 1 .894 0 .642.642 0 0 1-.004.898.634.634 0 0 1-.894-.003m-31.3 1.543a.637.637 0 0 1-.084-.892.626.626 0 0 1 .887-.089c.271.222.309.622.088.894h-.003a.622.622 0 0 1-.888.087m32.924.3a.632.632 0 0 1 .995-.78.633.633 0 1 1-.5 1.025.62.62 0 0 1-.495-.245m-34.348 1.796a.635.635 0 0 1-.19-.876.626.626 0 0 1 .872-.194.634.634 0 0 1-.682 1.07m35.738.228a.634.634 0 0 1 .214-.87.624.624 0 0 1 .865.213.63.63 0 0 1-.212.87.613.613 0 0 1-.327.095.634.634 0 0 1-.54-.308M17.16 22.492a.635.635 0 0 1 .55-1.143.638.638 0 0 1 .292.849.629.629 0 0 1-.842.294m38.046.155a.635.635 0 0 1 .315-.84.625.625 0 0 1 .833.318.632.632 0 0 1-.575.894.627.627 0 0 1-.573-.372m-38.933 2.221a.634.634 0 0 1 .407-1.2.634.634 0 0 1-.407 1.2m39.807.077a.632.632 0 1 1 .793.411.55.55 0 0 1-.19.032.636.636 0 0 1-.603-.443m-40.407 2.391a.633.633 0 0 1-.486-.752.631.631 0 1 1 1.235.264.632.632 0 0 1-.75.488m41.001-.007a.632.632 0 0 1 1.241-.234.634.634 0 0 1-.618.752.633.633 0 0 1-.623-.518m-41.3 2.522a.634.634 0 0 1 .111-1.262.633.633 0 1 1-.053 1.264c-.02.001-.04.001-.059-.002m41.608-.082a.631.631 0 1 1 1.26-.082.632.632 0 0 1-.588.675h-.04a.634.634 0 0 1-.632-.593m-42.26 2.005a.638.638 0 0 1 .611-.654.635.635 0 0 1 .039 1.27h-.02a.633.633 0 0 1-.63-.616m42.875 1.122A.631.631 0 0 1 57 32.23a.63.63 0 0 1 .664-.599.634.634 0 0 1-.033 1.269c-.012 0-.022 0-.035-.004m-42.648 1.48a.635.635 0 0 1 .533-.722.634.634 0 0 1 .717.537.636.636 0 0 1-.533.72.636.636 0 0 1-.717-.536"
                fill="#FFF" />
            <path fill="#F9CD51" d="M43.999 56.346H29L25.764 41.45 36.5 22.562 47.237 41.44z" />
            <g transform="translate(24.964 29.156)">
                <mask id="d" fill="#fff">
                    <use xlink:href="#c" />
                </mask>
                <path d="M-.252 27.414L26.799.239l7.264 21.465-6.526 16.072s-11.578 1.903-13.053 2.326c-1.473.424-7.579.212-8.42 0-.843-.21-3.159-6.555-3.159-6.555l-3.157-6.133z"
                    fill="#BA9A3D" mask="url(#d)" />
            </g>
            <g transform="translate(13 7.694)">
                <path d="M25.79 31.623a2.296 2.296 0 0 1-2.29 2.302 2.296 2.296 0 0 1-2.29-2.302c0-1.27 1.025-2.3 2.29-2.3a2.296 2.296 0 0 1 2.29 2.3z"
                    fill="#FDF0CA" />
                <mask id="f" fill="#fff">
                    <use xlink:href="#e" />
                </mask>
                <path fill="#FDF0CA" mask="url(#f)" d="M22.974 48.652h1.05V32.294h-1.05z" />
                <path fill="#5BBEFF" mask="url(#f)" d="M0 28.412h4.685v-4.707H0zM42.315 28.412H47v-4.707h-4.685zM21.158 4.87h4.684V.165h-4.684z"
                />
                <path d="M6.285 2.518c0 .809-.653 1.465-1.458 1.465a1.461 1.461 0 0 1-1.458-1.465c0-.81.653-1.465 1.458-1.465.805 0 1.458.655 1.458 1.465M43.773 2.518c0 .809-.653 1.465-1.458 1.465a1.462 1.462 0 0 1-1.459-1.465c0-.81.653-1.465 1.459-1.465.805 0 1.458.655 1.458 1.465"
                    fill="#FFF" mask="url(#f)" />
            </g>
        </g>
    </svg>
</div>