@import "_font-faces.scss";

/* Typography Styles and MQ */

//////////////////////
//    Variables    //
////////////////////

$text-bold: 700;
$text-normal: 400;
$text-light: 200;

$base-font-size: 16px !default; // Default, Use with em() and rem() functions

$serif: 'Tiempos Headline Regular', Georgia, Times, serif;
$serif-italic: 'Tiempos Headline Medium', Georgia, Times, serif;
$serif-italic-thin: 'Tiempos Text Regular Italic', Georgia, Times, serif;
$sans-serif: 'BentonSansBBVA Book', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-bookitalic: 'BentonSansBBVA Book Italic', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-regular: 'Benton Sans Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-light: 'BentonSansBBVA Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-medium: 'BentonSansBBVA Medium', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-mediumitalic: 'BentonSansBBVA Medium Italic', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-bold: 'BentonSansBBVA Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;

///////////////////////////
// Font Family Settings //
/////////////////////////

h1,
.h1-header,
.h1-lg-header,
.h1-md-header,
.h1-header h1, 
.h1-lg-header h1,
.h1-md-header h1,
h1.h1-header,
h1.h1-lg-header,
h1.h1-md-header,
div.h1-header h1,
div.h1-lg-header h1,
div.h1-md-header h1 {
  font-family: $sans-serif-bold;
  font-weight: $text-bold;
  margin: 0px;
  @include font-smoothing;
}

h2,
.h2-header,
.h2-header-bold,
.h2-header h2,
.h2-header-bold h2,
h2.h2-header,
h2.h2-header-bold,
div.h2-header h2,
div.h2-header-bold h2 {
  font-family: $sans-serif-bold;
  font-weight: $text-bold;
  margin: 0px;
  @include font-smoothing;
}

.h2-header-thin,
h2.h2-header-thin,
div.h2-header-thin h2 {
  font-family: $sans-serif-light;
  font-weight: $text-light;
  margin: 0px;
}

h3,
.h3-header,
.h3-header h3,
h3.h3-header,
div.h3-header h3 {
  font-family: $sans-serif-medium;
  font-weight: $text-normal;
  margin: 0px;
}

h4,
.h4-header,
.h4-header h4,
h4.h4-header,
div.h4-header h4 {
  font-family: $sans-serif-medium;
  font-weight: $text-normal;
  margin: 0px;
}

h5,
.h5-header,
h5.h5-header,
div.h5-header h5 {
  font-family: $sans-serif;
  font-weight: $text-normal;
  margin: 0px;
}

.h5-header h5 {
  font-family: $sans-serif;
  font-weight: $text-normal;
  margin: 0px;
}

h6,
.h6-header,
.h6-header h6,
h6.h6-header,
div.h6-header h6 {
  font-family: $sans-serif-medium;
  font-weight: $text-normal;
  margin: 0px;
}

p, .body-copy {
  font-family: $sans-serif;
  font-weight: $text-normal;
  margin: 0px;
}

.body-copy-bold {
  font-family: $sans-serif-bold;
  font-weight: $text-normal;
  margin: 0px;
}

.caps-tag-sm {
  font-family: $sans-serif-medium;
  font-weight: $text-normal;
  margin: 0px;
}

.caps-tag-xs {
  font-family: $sans-serif-medium;
  font-weight: $text-normal;
  margin: 0px;
}

.disclaimer-copy {
  font-family: $sans-serif;
  font-weight: $text-normal;
  margin: 0px;
}

.tiempos-header,
h1.tiempos-header,
div.tiempos-header h1 {
  font-family: $serif-italic;
  font-weight: $text-normal;
  margin: 0px;
}

.tiempos-header-thin,
h1.tiempos-header-thin,
div.tiempos-header-thin h1 {
  font-family: $serif-italic-thin;
  font-weight: $text-normal;
  margin: 0px;
}

.quote-header,
h2.quote-header,
div.quote-header h2 {
  font-family: $serif-italic;
  font-weight: $text-normal;
  margin: 0px;
}

////////////////////////////////////////////////
// Mobile Font Size and Line Height Setitngs //
//////////////////////////////////////////////
h1,
.h1-lg-header,
.h1-lg-header h1,
h1.h1-lg-header,
div.h1-lg-header h1 {
  @include font-size(3.4);
  line-height: 40px;

  @include breakpoint(small) {
    @include font-size(6.8);
    line-height: 72px;
  }
}

.h1-md-header,
.h1-md-header h1,
h1.h1-md-header,
div.h1-md-header h1 {
  @include font-size(3.0);
  line-height: 36px;

  @include breakpoint(small) {
    @include font-size(5.0);
    line-height: 56px;
  }
}

h2,
.h2-header,
.h2-header h2,
h2.h2-header,
div.h2-header h2 {
  @include font-size(2.6);
  line-height: 32px;

  @include breakpoint(small) {
    @include font-size(4.0);
    line-height: 48px;
  }
}

.h2-header-thin,
.h2-header-thin h2,
h2.h2-header-thin,
div.h2-header-thin h2 {
  @include font-size(2.6);
  line-height: 32px;

  @include breakpoint(small) {
    @include font-size(4.0);
    line-height: 48px;
  }
}

.h2-header-bold,
.h2-header-bold h2,
h2.h2-header-bold,
div.h2-header-bold h2 {
  @include font-size(2.6);
  line-height: 32px;

  @include breakpoint(small) {
    @include font-size(4.0);
    line-height: 48px;
  }
}

h3,
.h3-header,
.h3-header h3,
h3.h3-header,
div.h3-header h3 {
  @include font-size(2.2);
  line-height: 30px;

  @include breakpoint(small) {
    @include font-size(3.6);
    line-height: 44px;
  }
}

h4,
.h4-header,
.h4-header h4,
h4.h4-header,
div.h4-header h4 {
  @include font-size(2.0);
  line-height: 28px;

  @include breakpoint(small) {
    @include font-size(2.6);
    line-height: 32px;
  }
}

h5,
.h5-header,
h5.h5-header,
div.h5-header h5 {
  @include font-size(1.8);
  line-height: 24px;

  @include breakpoint(small) {
    @include font-size(2.2);
    line-height: 28px;
  }
}

.h5-header h5 {
  @include font-size(1.8);
  line-height: 24px;

  @include breakpoint(small) {
    @include font-size(2.2);
    line-height: 28px;
  }
}

h6,
.h6-header,
.h6-header h6,
h6.h6-header,
div.h6-header h6 {
  @include font-size(1.8);
  line-height: 24px;

  @include breakpoint(small) {
    @include font-size(2.0);
    line-height: 28px;
  }
}

.body-copy {
  @include font-size(1.5);
  line-height: 24px;

  .sub-text {
    @include font-size(1.2);
  }

  @include breakpoint(small) {
    @include font-size(1.5);
    line-height: 24px;
  }
}

.body-copy-bold {
  @include font-size(1.5);
  line-height: 24px;

  .sub-text {
    @include font-size(1.2);
  }

  @include breakpoint(small) {
    @include font-size(1.5);
    line-height: 24px;
  }
}

.caps-tag-sm,
.caps-tag-sm p,
p.caps-tag-sm {
  text-transform: uppercase;
  @include font-size(1.3);
  line-height: 20px;

  @include breakpoint(small) {
    @include font-size(1.3);
    line-height: 20px;
  }
}

.caps-tag-xs,
.caps-tag-xs p,
p.caps-tag-xs {
  text-transform: uppercase;
  @include font-size(1.1);
  line-height: 16px;

  @include breakpoint(small) {
    @include font-size(1.1);
    line-height: 16px;
  }
}

.disclaimer-copy,
.disclaimer-copy p,
p.disclaimer-copy {
  @include font-size(1.2);
  line-height: 16px;

  @include breakpoint(small) {
    @include font-size(1.2);
    line-height: 16px;
  }
}

.tiempos-header,
.tiempos-header h1,
h1.tiempos-header,
div.tiempos-header h1 {
  @include font-size(3.8);
  line-height: 48px;

  @include breakpoint(small) {
    @include font-size(7.2);
    line-height: 88px;
  }
}

.tiempos-header-thin,
.tiempos-header-thin h1,
h1.tiempos-header-thin,
div.tiempos-header-thin h1 {
  @include font-size(3.8);
  line-height: 48px;

  @include breakpoint(small) {
    @include font-size(7.2);
    line-height: 88px;
  }
}

.quote-header,
.quote-header h2,
h2.quote-header,
div.quote-header h2 {
 @include font-size(2.2);
  line-height: 32px;

  @include breakpoint(small) {
    @include font-size(3.2);
    line-height: 48px;
  }
}
