<div class="demo-nav-wrapper bs-example">

  <p class="typeName">h1 tag</p>
  <h1>The quick brown fox jumps over the lazy dog</h1>
  <hr>

  <p class="typeName">h1 tag with h1-lg-header class</p>
  <h1 class="h1-lg-header">The quick brown fox jumps over the lazy dog</h1>
  <hr>

  <p class="typeName">div tag with h1-lg-header class</p>
  <div class="h1-lg-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h1 tag with h1-md-header class</p>
  <h1 class="h1-md-header">The quick brown fox jumps over the lazy dog</h1>
  <hr>

  <p class="typeName">div tag with h1-md-header class</p>
  <div class="h1-md-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h2 tag</p>
  <h2>The quick brown fox jumps over the lazy dog</h2>
  <hr>

  <p class="typeName">h2 tag with h2-header class</p>
  <h2 class="h2-header">The quick brown fox jumps over the lazy dog</h2>
  <hr>

  <p class="typeName">div tag with h2-header class</p>
  <div class="h2-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h2 tag with h2-header-bold class</p>
  <h2 class="h2-header-bold">The quick brown fox jumps over the lazy dog</h2>
  <hr>

  <p class="typeName">div tag with h2-header-bold class</p>
  <div class="h2-header-bold">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h2 tag with h2-header-thin class</p>
  <h2 class="h2-header-thin">The quick brown fox jumps over the lazy dog</h2>
  <hr>

  <p class="typeName">div tag with h2-header-thin class</p>
  <div class="h2-header-thin">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h3 tag</p>
  <h3>The quick brown fox jumps over the lazy dog</h3>
  <hr>

  <p class="typeName">h3 tag with h3-header class</p>
  <h3 class="h3-header">The quick brown fox jumps over the lazy dog</h3>
  <hr>

  <p class="typeName">div tag with h3-header class</p>
  <div class="h3-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h4 tag</p>
  <h4>The quick brown fox jumps over the lazy dog</h4>
  <hr>

  <p class="typeName">h4 tag with h4-header class</p>
  <h4 class="h4-header">The quick brown fox jumps over the lazy dog</h4>
  <hr>

  <p class="typeName">div tag with h4-header class</p>
  <div class="h4-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h5 tag</p>
  <h5>The quick brown fox jumps over the lazy dog</h5>
  <hr>

  <p class="typeName">h5 tag with h5-header class</p>
  <h5 class="h5-header">The quick brown fox jumps over the lazy dog</h5>
  <hr>

  <p class="typeName">div tag with h5-header class</p>
  <div class="h5-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h6 tag</p>
  <h6>The quick brown fox jumps over the lazy dog</h6>
  <hr>

  <p class="typeName">h6 tag with h6-header class</p>
  <h6 class="h6-header">The quick brown fox jumps over the lazy dog</h6>
  <hr>

  <p class="typeName">div tag with h6-header class</p>
  <div class="h6-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">p tag with body-copy class and span tag with sub-text class</p>
  <p class="body-copy">The quick brown fox jumps
    <span class="sub-text"> over the lazy dog</span>
  </p>
  <hr>

  <p class="typeName">div tag with body-copy class and span tag with sub-text class</p>
  <div class="body-copy">The quick brown fox jumps
    <span class="sub-text"> over the lazy dog</span>
  </div>
  <hr>

  <p class="typeName">p tag with body-copy-bold class and span tag with sub-text class</p>
  <p class="body-copy-bold">The quick brown fox jumps
    <span class="sub-text"> over the lazy dog</span>
  </p>
  <hr>

  <p class="typeName">div tag with body-copy-bold class and span tag with sub-text class</p>
  <div class="body-copy-bold">The quick brown fox jumps
    <span class="sub-text"> over the lazy dog</span>
  </div>
  <hr>

  <p class="typeName">p tag with caps-tag-sm class</p>
  <p class="caps-tag-sm">The quick brown fox jumps over the lazy dog</p>
  <hr>

  <p class="typeName">div tag with caps-tag-sm class</p>
  <div class="caps-tag-sm">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">p tag with caps-tag-xs class</p>
  <p class="caps-tag-xs">The quick brown fox jumps over the lazy dog</p>
  <hr>

  <p class="typeName">div tag with caps-tag-xs class</p>
  <div class="caps-tag-xs">The quick brown fox jumps over the lazy dog<divp>
  <hr>

  <p class="typeName">p tag with disclaimer-copy class</p>
  <p class="disclaimer-copy">The quick brown fox jumps over the lazy dog</p>
  <hr>

  <p class="typeName">div tag with disclaimer-copy class</p>
  <div class="disclaimer-copy">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h1 tag with tiempos-header class</p>
  <h1 class="tiempos-header">The quick brown fox jumps over the lazy dog</h1>
  <hr>

  <p class="typeName">div tag with tiempos-header class</p>
  <div class="tiempos-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

  <p class="typeName">h2 tag with quote-header class</p>
  <h2 class="quote-header">The quick brown fox jumps over the lazy dog</h2>
  <hr>

  <p class="typeName">div tag with quote-header class</p>
  <div class="quote-header">The quick brown fox jumps over the lazy dog</div>
  <hr>

</div>