
<div class="bs-example colors-demo">
    <div class="row">
        <div class="col-4">
                <h5 class="content-title">Primary</h5>
        </div>
    </div> 
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-core" data-color-hex="#004481"></div>
      <h6 class="caps-tag-sm">BBVA Core Blue</h6>
      <p>HEX #004481 | RGB 0,68,129
        <br> Color:
        <b>.blue-core</b>
        <br> Background:
        <b>.bg-blue-core</b>
      </p>
    </div>
    <div class="col-sm-4">
      <div class="colors-demo__div bg-navy" data-color-hex="#072146"></div>
      <h6 class="caps-tag-sm">BBVA Navy</h6>
      <p>HEX #072146 | RGB 7, 33, 70
        <br> Color:
        <b>.navy</b>
        <br> Background:
        <b>.bg-navy</b>
      </p>
    </div>
    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-core-ov" data-color-hex="#043263"></div>
      <h6 class="caps-tag-sm">BBVA Core Dark Blue</h6>
      <p>HEX #043263 | RGB 4, 50, 99
        <br> Color:
        <b>.blue-core-ov</b>
        <br> Background:
        <b>.bg-blue-core-ov</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-medium-ov" data-color-hex="#1464A5"></div>
      <h6 class="caps-tag-sm">BBVA Core Light Blue</h6>
      <p>HEX #1464A5 | RGB 20, 100, 165
        <br> Color:
        <b>.blue-medium-ov</b>
        <br> Background:
        <b>.bg-blue-medium-ov</b>
      </p>
    </div>
    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-medium-wcag" data-color-hex="#1973B8"></div>
      <h6 class="caps-tag-sm">BBVA Medium Blue</h6>
      <p>HEX #1973B8 | RGB 25, 115, 184
        <br> Color:
        <b>.blue-medium-wcag</b>
        <br> Background:
        <b>.bg-blue-medium-wcag</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-white-medium" data-color-hex="#49A5E6"></div>
      <h6 class="caps-tag-sm">BBVA Medium Light Blue</h6>
      <p>HEX #49A5E6 | RGB 73, 165, 230
        <br> Color:
        <b>.blue-white-medium</b>
        <br> Background:
        <b>.bg-blue-white-medium</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-light" data-color-hex="#5BBEFF"></div>
      <h6 class="caps-tag-sm">BBVA Sky Blue</h6>
      <p>HEX #5BBEFF | RGB 91, 190, 255
        <br> Color:
        <b>.blue-light</b>
        <br> Background:
        <b>.bg-blue-light</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-white-light" data-color-hex="#D4EDFC"></div>
      <h6 class="caps-tag-sm">BBVA Sky Light Blue</h6>
      <p>HEX #D4EDFC | RGB 212, 237, 252
        <br> Color:
        <b>.blue-white-light</b>
        <br> Background:
        <b>.bg-blue-white-light</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-white colors-demo__div--border" data-color-hex="#FFFFFF"></div>
      <h6 class="caps-tag-sm">BBVA White</h6>
      <p>HEX #FFFFFF | RGB 255, 255, 255
        <br> Color:
        <b>.white</b>
        <br> Background:
        <b>.bg-white</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-aqua" data-color-hex="#2DCCCD"></div>
      <h6 class="caps-tag-sm">BBVA Aqua</h6>
      <p>HEX #2DCCCD | RGB 45,204,205
        <br> Color:
        <b>.aqua</b>
        <br> Background:
        <b>.bg-aqua</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-aqua-dark" data-color-hex="#028484"></div>
      <h6 class="caps-tag-sm">BBVA Aqua Dark</h6>
      <p>HEX #028484 | RGB 2,132,132
        <br> Color:
        <b>.aqua-dark</b>
        <br> Background:
        <b>.bg-aqua-dark</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-aqua-wcag" data-color-hex="#02A5A5"></div>
      <h6 class="caps-tag-sm">BBVA Aqua Medium</h6>
      <p>HEX #02A5A5 | RGB 2,165,165
        <br> Color:
        <b>.aqua-wcag</b>
        <br> Background:
        <b>.bg-aqua-wcag</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-aqua-light" data-color-hex="#5AC4C4"></div>
      <h6 class="caps-tag-sm">BBVA Aqua Light</h6>
      <p>HEX #5AC4C4 | RGB 90,196,196
        <br> Color:
        <b>.aqua-light</b>
        <br> Background:
        <b>.bg-aqua-light</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-aqua-white" data-color-hex="#EAF9FA"></div>
      <h6 class="caps-tag-sm">BBVA Aqua White</h6>
      <p>HEX #EAF9FA | RGB 234,249,250
        <br> Color:
        <b>.aqua-white</b>
        <br> Background:
        <b>.bg-aqua-white</b>
      </p>
    </div>
  </div>
</div>


<div class="bs-example colors-demo">
<div class="row">
    <div class="col-4">
            <h5 class="content-title">Secondary</h5>
    </div>
</div> 
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-grey600" data-color-hex="#121212"></div>
      <h6 class="caps-tag-sm">BBVA 600</h6>
      <p>HEX #121212 | RGB 2, 132, 132
        <br> Color:
        <b>.grey600</b>
        <br> Background:
        <b>.bg-grey600</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-grey500" data-color-hex="#666666"></div>
      <h6 class="caps-tag-sm">BBVA 500</h6>
      <p>HEX #666666 | RGB 102, 102, 102
        <br> Color:
        <b>.grey500</b>
        <br> Background:
        <b>.bg-grey500</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-grey400" data-color-hex="#BDBDBD"></div>
      <h6 class="caps-tag-sm">BBVA 400</h6>
      <p>HEX #BDBDBD | RGB 189, 189, 189
        <br> Color:
        <b>.grey400</b>
        <br> Background:
        <b>.bg-grey400</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-grey300" data-color-hex="#D3D3D3"></div>
      <h6 class="caps-tag-sm">BBVA 300</h6>
      <p>HEX #D3D3D3 | RGB 211, 211, 211
        <br> Color:
        <b>.grey300</b>
        <br> Background:
        <b>.bg-grey300</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-grey200" data-color-hex="#E9E9E9"></div>
      <h6 class="caps-tag-sm">BBVA 200 </h6>
      <p>HEX #E9E9E9 | RGB 233, 233, 233
        <br> Color:
        <b>.grey200</b>
        <br> Background:
        <b>.bg-grey200</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-grey100" data-color-hex="#F4F4F4"></div>
      <h6 class="caps-tag-sm">BBVA 100</h6>
      <p>HEX #F4F4F4 | RGB 244, 244, 244
        <br> Color:
        <b>.grey100</b>
        <br> Background:
        <b>.bg-grey100</b>
      </p>
    </div>
  </div>
</div>


<div class="bs-example colors-demo">
<div class="row">
    <div class="col-4">
            <h5 class="content-title">Tertiary</h5>
    </div>
</div> 
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-red" data-color-hex="#DA3851"></div>
      <h6 class="caps-tag-sm">BBVA Red</h6>
      <p>HEX #DA3851 | RGB 218, 56, 81
        <br> Color:
        <b>.red</b>
        <br> Background:
        <b>.bg-red</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-red-error" data-color-hex="#B92A45"></div>
      <h6 class="caps-tag-sm">BBVA Red Dark</h6>
      <p>HEX #B92A45 | RGB 185, 42, 69
        <br> Color:
        <b>.red-error or .red-dark</b>
        <br> Background:
        <b>.bg-red-error or .bg-red-dark</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-red-medium" data-color-hex="#C0475E"></div>
      <h6 class="caps-tag-sm">BBVA Red Medium</h6>
      <p>HEX #C0475E | RGB 192, 71, 94
        <br> Color:
        <b>.red-medium</b>
        <br> Background:
        <b>.bg-red-medium</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-red-light" data-color-hex="#E77D8E"></div>
      <h6 class="caps-tag-sm">BBVA Red Light</h6>
      <p>HEX #E77D8E | RGB 231, 125, 142
        <br> Color:
        <b>.red-light</b>
        <br> Background:
        <b>.bg-red-light</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-red-white" data-color-hex="#F4C3CA"></div>
      <h6 class="caps-tag-sm">BBVA Red White</h6>
      <p>HEX #F4C3CA | RGB 244, 195, 202
        <br> Color:
        <b>.red-white</b>
        <br> Background:
        <b>.bg-red-white</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-yellow" data-color-hex="#F8CD51"></div>
      <h6 class="caps-tag-sm">BBVA Yellow</h6>
      <p>HEX #F8CD51 | RGB 248, 205, 81
        <br> Color:
        <b>.yellow</b>
        <br> Background:
        <b>.bg-yellow</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-yellow-dark" data-color-hex="#9C6C01"></div>
      <h6 class="caps-tag-sm">BBVA Yellow Dark</h6>
      <p>HEX #9C6C01 | RGB 156, 108, 1
        <br> Color:
        <b>.yellow-dark</b>
        <br> Background:
        <b>.bg-yellow-dark</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-yellow-medium" data-color-hex="#C49735"></div>
      <h6 class="caps-tag-sm">BBVA Yellow Medium</h6>
      <p>HEX #C49735 | RGB 196, 151, 53
        <br> Color:
        <b>.yellow-medium</b>
        <br> Background:
        <b>.bg-yellow-medium</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-yellow-light" data-color-hex="#FADE8E"></div>
      <h6 class="caps-tag-sm">BBVA Yellow Light</h6>
      <p>HEX #FADE8E | RGB 250, 222, 142
        <br> Color:
        <b>.yellow-light</b>
        <br> Background:
        <b>.bg-yellow-light</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-yellow-white" data-color-hex="#FEF5DC"></div>
      <h6 class="caps-tag-sm">BBVA Yellow White</h6>
      <p>HEX #FEF5DC | RGB 254, 245, 220
        <br> Color:
        <b>.yellow-white</b>
        <br> Background:
        <b>.bg-yellow-white</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-coral" data-color-hex="#F35E61"></div>
      <h6 class="caps-tag-sm">BBVA Coral</h6>
      <p>HEX #F35E61 | RGB 248, 205, 81
        <br> Color:
        <b>.coral</b>
        <br> Background:
        <b>.bg-coral</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-coral-dark" data-color-hex="#CB353A"></div>
      <h6 class="caps-tag-sm">BBVA Coral Dark</h6>
      <p>HEX #CB353A | RGB 156, 108, 1
        <br> Color:
        <b>.coral-dark</b>
        <br> Background:
        <b>.bg-coral-dark</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-coral-medium" data-color-hex="#D44B50"></div>
      <h6 class="caps-tag-sm">BBVA Coral Medium</h6>
      <p>HEX #D44B50 | RGB 196, 151, 53
        <br> Color:
        <b>.coral-medium</b>
        <br> Background:
        <b>.bg-coral-medium</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-coral-light" data-color-hex="#F59799"></div>
      <h6 class="caps-tag-sm">BBVA Coral Light</h6>
      <p>HEX #F59799 | RGB 231, 125, 142
        <br> Color:
        <b>.coral-light</b>
        <br> Background:
        <b>.bg-coral-light</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-coral-white" data-color-hex="#FCDFDF"></div>
      <h6 class="caps-tag-sm">BBVA Coral White</h6>
      <p>HEX #FCDFDF | RGB 254, 245, 220
        <br> Color:
        <b>.coral-white</b>
        <br> Background:
        <b>.bg-coral-white</b>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-pink" data-color-hex="#F78BE8"></div>
      <h6 class="caps-tag-sm">BBVA Pink</h6>
      <p>HEX #F78BE8 | RGB 247, 139, 232
        <br> Color:
        <b>.pink</b>
        <br> Background:
        <b>.bg-pink</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-pink-dark" data-color-hex="#AD53A1"></div>
      <h6 class="caps-tag-sm">BBVA Pink Dark</h6>
      <p>HEX #AD53A1 | RGB 173, 83, 161
        <br> Color:
        <b>.pink-dark</b>
        <br> Background:
        <b>.bg-pink-dark</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-pink-medium" data-color-hex="#C569B9"></div>
      <h6 class="caps-tag-sm">BBVA Pink Medium</h6>
      <p>HEX #C569B9 | RGB 197, 105, 185
        <br> Color:
        <b>.pink-medium</b>
        <br> Background:
        <b>.bg-pink-medium</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-pink-light" data-color-hex="#FAB3F0"></div>
      <h6 class="caps-tag-sm">BBVA Pink Light</h6>
      <p>HEX #FAB3F0 | RGB 7, 33, 70
        <br> Color:
        <b>.pink-light</b>
        <br> Background:
        <b>.bg-pink-light</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-pink-white" data-color-hex="#FDDCF8"></div>
      <h6 class="caps-tag-sm">BBVA Pink White</h6>
      <p>HEX #FDDCF8 | RGB 253, 220, 248
        <br> Color:
        <b>.pink-white</b>
        <br> Background:
        <b>.bg-pink-white</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-orange" data-color-hex="#F7893B"></div>
      <h6 class="caps-tag-sm">BBVA Orange</h6>
      <p>HEX #F7893B | RGB 247, 137, 59
        <br> Color:
        <b>.orange</b>
        <br> Background:
        <b>.bg-orange</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-orange-dark" data-color-hex="#C65302"></div>
      <h6 class="caps-tag-sm">BBVA Orange Dark</h6>
      <p>HEX #C65302 | RGB 198, 83, 2
        <br> Color:
        <b>.orange-dark</b>
        <br> Background:
        <b>.bg-orange-dark</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-orange-medium" data-color-hex="#D8732C"></div>
      <h6 class="caps-tag-sm">BBVA Orange Medium</h6>
      <p>HEX #D8732C | RGB 216, 115, 44
        <br> Color:
        <b>.orange-medium</b>
        <br> Background:
        <b>.bg-orange-medium</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-orange-light" data-color-hex="#FAB27F"></div>
      <h6 class="caps-tag-sm">BBVA Orange Light</h6>
      <p>HEX #FAB27F | RGB 250, 178, 127
        <br> Color:
        <b>.orange-light</b>
        <br> Background:
        <b>.bg-orange-light</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-orange-white" data-color-hex="#FDE7D8"></div>
      <h6 class="caps-tag-sm">BBVA Orange White</h6>
      <p>HEX #FDE7D8 | RGB 253, 231, 216
        <br> Color:
        <b>.orange-white</b>
        <br> Background:
        <b>.bg-orange-white</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-sand" data-color-hex="#D8BE75"></div>
      <h6 class="caps-tag-sm">BBVA Sand</h6>
      <p>HEX #D8BE75 | RGB 216, 190, 117
        <br> Color:
        <b>.sand</b>
        <br> Background:
        <b>.bg-sand</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-sand-dark" data-color-hex="#8E7022"></div>
      <h6 class="caps-tag-sm">BBVA Sand Dark</h6>
      <p>HEX #8E7022 | RGB 142, 112, 34
        <br> Color:
        <b>.sand-dark</b>
        <br> Background:
        <b>.bg-sand-dark</b>
      </p>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-sand-medium" data-color-hex="#B79E5E"></div>
      <h6 class="caps-tag-sm">BBVA Sand Medium</h6>
      <p>HEX #B79E5E | RGB 183, 33, 70
        <br> Color:
        <b>.sand-medium</b>
        <br> Background:
        <b>.bg-sand-medium</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-sand-light" data-color-hex="#E6D5A5"></div>
      <h6 class="caps-tag-sm">BBVA Sand Light</h6>
      <p>HEX #E6D5A5 | RGB 230, 213, 165
        <br> Color:
        <b>.sand-light</b>
        <br> Background:
        <b>.bg-sand-light</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-sand-white" data-color-hex="#F3EBD5"></div>
      <h6 class="caps-tag-sm">BBVA Sand White</h6>
      <p>HEX #F3EBD5 | RGB 243, 235, 213
        <br> Color:
        <b>.sand-white</b>
        <br> Background:
        <b>.bg-sand-white</b>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-green" data-color-hex="#48AE64"></div>
      <h6 class="caps-tag-sm">BBVA Green</h6>
      <p>HEX #48AE64 | RGB 72, 174, 100
        <br> Color:
        <b>.green</b>
        <br> Background:
        <b>.bg-green</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-green-dark" data-color-hex="#277A3E"></div>
      <h6 class="caps-tag-sm">BBVA Green Dark</h6>
      <p>HEX #277A3E | RGB 39, 122, 62
        <br> Color:
        <b>.green-dark</b>
        <br> Background:
        <b>.bg-green-dark</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-green-medium" data-color-hex="#388D4F"></div>
      <h6 class="caps-tag-sm">BBVA Green Medium</h6>
      <p>HEX #388D4F | RGB 56, 141, 79
        <br> Color:
        <b>.green-medium</b>
        <br> Background:
        <b>.bg-green-medium</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-green-light" data-color-hex="#88CA9A"></div>
      <h6 class="caps-tag-sm">BBVA Green Light</h6>
      <p>HEX #88CA9A | RGB 136, 202, 154
        <br> Color:
        <b>.green-light</b>
        <br> Background:
        <b>.bg-green-light</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-green-white" data-color-hex="#D9EFE0"></div>
      <h6 class="caps-tag-sm">BBVA Green White</h6>
      <p>HEX #D9EFE0 | RGB 217, 239, 224
        <br> Color:
        <b>.green-white</b>
        <br> Background:
        <b>.bg-green-white</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-purple" data-color-hex="#8F7AE5"></div>
      <h6 class="caps-tag-sm">BBVA Purple</h6>
      <p>HEX #8F7AE5 | RGB 143, 122, 229
        <br> Color:
        <b>.purple</b>
        <br> Background:
        <b>.bg-purple</b>
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-purple-dark" data-color-hex="#6754B8"></div>
      <h6 class="caps-tag-sm">BBVA Purple Dark</h6>
      <p>HEX #6754B8 | RGB 103, 84, 184
        <br> Color:
        <b>.purple-dark</b>
        <br> Background:
        <b>.bg-purple-dark</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-purple-medium" data-color-hex="#7C6AC7"></div>
      <h6 class="caps-tag-sm">BBVA Purple Medium</h6>
      <p>HEX #7C6AC7 | RGB 124, 106, 199
        <br> Color:
        <b>.purple-medium</b>
        <br> Background:
        <b>.bg-purple-medium</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-purple-light" data-color-hex="#B6A8EE"></div>
      <h6 class="caps-tag-sm">BBVA Purple Light</h6>
      <p>HEX #B6A8EE | RGB 182, 168, 238
        <br> Color:
        <b>.purple-light</b>
        <br> Background:
        <b>.bg-purple-light</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-purple-white" data-color-hex="#DDD7F7"></div>
      <h6 class="caps-tag-sm">BBVA Purple White</h6>
      <p>HEX #DDD7F7 | RGB 221, 215, 247
        <br> Color:
        <b>.purple-white</b>
        <br> Background:
        <b>.bg-purple-white</b>
      </p>
    </div>
  </div>
</div>



<div class="bs-example colors-demo">
<div class="row">
    <div class="col-4">
            <h5 class="content-title">Special Colors</h5>
    </div>
</div>

  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-black" data-color-hex="#000000"></div>
      <h6 class="caps-tag-sm">BBVA Black</h6>
      <p>HEX #000000 | RGB 0, 0, 0
        <br> Color:
        <b>.black</b>
        <br> Background:
        <b>.bg-black</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-overlay" data-color-hex="#06204540"></div>
      <h6 class="caps-tag-sm">Dark Blue Overlay with 25&#37; Opacity</h6>
      <p>HEX #06204540 | RGBA 6, 32, 69, 0.25
        <br> Color:
        <b>.overlay</b>
        <br> Background:
        <b>.bg-overlay</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-white" data-color-hex="#AACEE7"></div>
      <h6 class="caps-tag-sm">"White Blue," non-standard color</h6>
      <p>HEX #AACEE7 | RGB 170, 206, 231
        <br> Color:
        <b>.blue-white</b>
        <br> Background:
        <b>.bg-blue-white</b>
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-menu-border" data-color-hex="#D3D3D34D"></div>
      <h6 class="caps-tag-sm">Mobile Menu Color for Borders</h6>
      <p>HEX #D3D3D34D | RGBA 211, 211, 211, 0.3
        <br> Color:
        <b>.menu-border</b>
        <br> Background:
        <b>.bg-menu-border</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-btn-yellow" data-color-hex="#E5B52A"></div>
      <h6 class="caps-tag-sm">Button Yellow</h6>
      <p>HEX #E5B52A | RGB 229, 181, 42
        <br> Color:
        <b>.btn-yellow</b>
        <br> Background:
        <b>.bg-btn-yellow</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-btn-yellow-dark" data-color-hex="#B68C11"></div>
      <h6 class="caps-tag-sm">Button Yellow Dark</h6>
      <p>HEX #B68C11 | RGB 182, 140, 17
        <br> Color:
        <b>.btn-yellow-dark</b>
        <br> Background:
        <b>.bg-btn-yellow-dark</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-btn-orange-dark" data-color-hex="#C4580A"></div>
      <h6 class="caps-tag-sm">Button Orange Dark</h6>
      <p>HEX #C4580A | RGB 196, 88, 10
        <br> Color:
        <b>.btn-orange-dark</b>
        <br> Background:
        <b>.bg-btn-orange-dark</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-btn-salmon" data-color-hex="#F15A5F"></div>
      <h6 class="caps-tag-sm">Button Salmon Performance Testing Button Color</h6>
      <p>HEX #F15A5F | RGB 241, 90, 95
        <br> Color:
        <b>.btn-salmon</b>
        <br> Background:
        <b>.bg-btn-salmon</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-white-light-18" data-color-hex="#B7E2FF"></div>
      <h6 class="caps-tag-sm">Blue White Light 18&#37;</h6>
      <p>HEX #B7E2FF | RGB 183, 226, 255
        <br> Color:
        <b>.blue-white-light-18</b>
        <br> Background:
        <b>.bg-blue-white-light-18</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-white-light-28" data-color-hex="#EAF7FF"></div>
      <h6 class="caps-tag-sm">Blue White Light 28&#37;</h6>
      <p>HEX #EAF7FF | RGB 234, 247, 255
        <br> Color:
        <b>.blue-white-light-28</b>
        <br> Background:
        <b>.bg-blue-white-light-28</b>
      </p>
    </div>
  </div>
</div>

<div class="bs-example colors-demo">
<div class="row">
    <div class="col-4">
            <h5 class="content-title">Social Colors</h5>
    </div>
</div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-color-facebook" data-color-hex="#3b5998"></div>
      <h6 class="caps-tag-sm">Blue Facebook</h6>
      <p>HEX #3b5998 | RGB 59, 89, 152
        <br> Color:
        <b>.color-facebook</b>
        <br> Background:
        <b>.bg-color-facebook</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-color-twitter" data-color-hex="#00aced"></div>
      <h6 class="caps-tag-sm">Baby Blue Twitter</h6>
      <p>HEX #00aced | RGB 0, 172, 237
        <br> Color:
        <b>.color-twitter</b>
        <br> Background:
        <b>.bg-color-twitter</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-color-instagram" data-color-hex="#675144"></div>
      <h6 class="caps-tag-sm">Instagram Brown Instagram</h6>
      <p>HEX #675144 | RGB 103, 81, 68
        <br> Color:
        <b>.color-instagram</b>
        <br> Background:
        <b>.bg-color-instagram</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-color-linkedin" data-color-hex="#517fa4"></div>
      <h6 class="caps-tag-sm">Blue Linkedin</h6>
      <p>HEX #517fa4 | RGB 81, 127, 164
        <br> Color:
        <b>.color-linkedin</b>
        <br> Background:
        <b>.bg-color-linkedin</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-color-googleplus" data-color-hex="#dd4b39"></div>
      <h6 class="caps-tag-sm">Red Googleplus</h6>
      <p>HEX #dd4b39 | RGB 221, 75, 57
        <br> Color:
        <b>.color-googleplus</b>
        <br> Background:
        <b>.bg-color-googleplus</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-color-pinterest" data-color-hex="#f15a5f"></div>
      <h6 class="caps-tag-sm">Red Pinterest</h6>
      <p>HEX #f15a5f | RGB 241, 90, 95
        <br> Color:
        <b>.color-pinterest</b>
        <br> Background:
        <b>.bg-color-pinterest</b>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-color-youtube" data-color-hex="#bb0000"></div>
      <h6 class="caps-tag-sm">Red Youtube</h6>
      <p>HEX #bb0000 | RGB 187, 0, 0
        <br> Color:
        <b>.color-youtube</b>
        <br> Background:
        <b>.bg-color-youtube</b>
      </p>
    </div>
  </div>

</div>


<div class="bs-example colors-demo">
<div class="row">
    <div class="col-4">
            <h5 class="content-title">Status Colors</h5>
    </div>
</div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-danger" data-color-hex="#D9534F"></div>
      <h6 class="caps-tag-sm">Red Errors and Dangers</h6>
      <p>HEX #D9534F | RGB 217, 83, 79
        <br> Color:
        <b>.danger</b>
        <br> Background:
        <b>.bg-danger</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-warning" data-color-hex="#F0AD4E"></div>
      <h6 class="caps-tag-sm">Orange Warnings</h6>
      <p>HEX #F0AD4E | RGB 240, 173, 78
        <br> Color:
        <b>.warning</b>
        <br> Background:
        <b>.bg-warning</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-success" data-color-hex="#5CB85C"></div>
      <h6 class="caps-tag-sm">Green Success</h6>
      <p>HEX #5CB85C | RGB 92, 184, 92
        <br> Color:
        <b>.success</b>
        <br> Background:
        <b>.bg-success</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-info" data-color-hex="#337AB7"></div>
      <h6 class="caps-tag-sm">Blue Information</h6>
      <p>HEX #337AB7 | RGB 51, 122, 183
        <br> Color:
        <b>.info</b>
        <br> Background:
        <b>.bg-info</b>
      </p>
    </div>
  </div>

</div>


<div class="bs-example colors-demo">
<div class="row">
    <div class="col-4">
            <h5 class="content-title">Extra Colors</h5>
    </div>
</div>
  <div class="row">
    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue" data-color-hex="#237ABA"></div>
      <h6 class="caps-tag-sm">Blue</h6>
      <p>HEX #237ABA | RGB 35, 122, 186
        <br> Color:
        <b>.blue</b>
        <br> Background:
        <b>.bg-blue</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-blue-medium" data-color-hex="#2A86CA"></div>
      <h6 class="caps-tag-sm">Blue Medium</h6>
      <p>HEX #2A86CA | RGB 42, 134, 202
        <br> Color:
        <b>.blue-medium</b>
        <br> Background:
        <b>.bg-blue-medium</b>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="colors-demo__div bg-aqua-wcag-dark" data-color-hex="#018787"></div>
      <h6 class="caps-tag-sm">WCAG AA Copliance Extra Aqua Dark</h6>
      <p>HEX #018787 | RGB 1, 135, 135
        <br> Color:
        <b>.aqua-wcag-dark</b>
        <br> Background:
        <b>.bg-aqua-wcag-dark</b>
      </p>
    </div>
  </div>

</div>