<div class="container grid-demo container--grid">
  <!-- full row example -->
  <div class="row">
    <div class="col-4">
      <div class="bg-blue-white-light">col-4</div>
    </div>
  </div>
  <!-- responsive example -->
  <div class="row">
    <div class="col-1 col-tb-2 col-sm-3 col-lg-3 col-xl-3 ">
      <div class="bg-aqua">col</div>
    </div>
    <div class="col-1 col-tb-2 col-sm-3 col-lg-3 col-xl-3 ">
      <div class="bg-aqua">col</div>
    </div>
    <div class="col-1 col-tb-2 col-sm-3 col-lg-3 col-xl-3 ">
      <div class="bg-aqua">col</div>
    </div>
    <div class="col-1 col-tb-2 col-sm-3 col-lg-3 col-xl-3 ">
      <div class="bg-aqua">col</div>
    </div>
  </div>
  <!-- tablet example -->
  <div class="row">
    <div class="col-1 col-tb-1 ">
      <div class="bg-blue-light">col-tb-1</div>
    </div>
    <div class="col-1 col-tb-1 ">
      <div class="bg-blue-light">col-tb-1</div>
    </div>
    <div class="col-1 col-tb-1 ">
      <div class="bg-blue-light">col-tb-1</div>
    </div>
    <div class="col-1 col-tb-1 ">
      <div class="bg-blue-light">col-tb-1</div>
    </div>
    <div class="col-1 col-tb-1 ">
      <div class="bg-blue-light">col-tb-1</div>
    </div>
    <div class="col-1 col-tb-1 ">
      <div class="bg-blue-light">col-tb-1</div>
    </div>
    <div class="col-1 col-tb-1 ">
      <div class="bg-blue-light">col-tb-1</div>
    </div>
    <div class="col-1 col-tb-1 ">
      <div class="bg-blue-light">col-tb-1</div>
    </div>
  </div>
  <!-- small desktop example -->
  <div class="row">
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
    <div class="col-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-1</div>
    </div>
  </div>
  <!-- push example -->
  <div class="row">
    <div class="col-1 col-sm-push-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-push-1</div>
    </div>
    <div class="col-1 col-sm-push-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-push-1</div>
    </div>
    <div class="col-1 col-sm-push-1 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-push-1</div>
    </div>
    <div class="col-1 col-sm-push-2 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-push-2</div>
    </div>
    <div class="col-1 col-sm-push-2 col-sm-1 ">
      <div class="bg-blue-medium">col-sm-push-2</div>
    </div>
  </div>

  <!-- wider column example -->
  <div class="row">
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
    <div class="col-sm-1-wider">
      <div class="bg-blue-dark">col-sm-1-wider</div>
    </div>
  </div>
  <!-- no gutter 6 & 6 example -->
  <div class="row no-gutters">
    <div class="col-sm-6">
      <div class="bg-blue">no-gutters col-sm-6</div>
    </div>
    <div class="col-sm-6">
      <div class="bg-blue">no-gutters col-sm-6</div>
    </div>
  </div>
</div>