@import './styles/sk.bbva.scss';

/**to check the layout **/
.showgrid /deep/ .container:before {
  background: url(/assets/img/grid-xs.png) repeat-y;
  width: 320px;
  height:100vh;
  position: fixed;
  z-index: 1000;
  opacity: 0.7;
  left: -1px;
  right:0px;
  display: table;
  content: " ";
  @include breakpoint(tablet) {
    background: url(/assets/img/grid-tab.png) repeat-y;
    width: 768px;
    opacity: 0.4;
  }
  @include breakpoint(small) {
    background: url(/assets/img/grid-md.png) repeat-y;
    width: 1176px;
    margin:0px auto;
    opacity: 0.3;
  }
}

/* -------Home Screen------- */


.tile { //for carousel cards
  margin: 0 auto;
  width: 360px;
  height: 324px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #004481;
}
//--------------------