
.status {
  @include element('header') {
    text-align: center;
    padding: 0px 16px 104px 16px;
    position: relative;
     h2{
       @include font-size(2.8);
       margin-bottom: 8px;
       line-height: 48px;
       font-family: $sans-serif-medium;
       letter-spacing:0;
       font-weight: normal;
       @include breakpoint(small) {
         @include font-size(3.6);
         margin-bottom: 16px;
       }
     }
     p{
       padding-bottom: 24px;
       color:$grey500;
       letter-spacing:0;
     }
     a{
       font-family: $sans-serif-medium;
       i{
         position:relative;
         top:3px;
       }
     }
    &:after {
      position: absolute;
      bottom: -11px;
      left: 49.4%;
      content: "";
      display: block;
      height: 12px;
      width: 20px;
      background-color: $grey100;
      -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
  }

  @include element('section') {
    padding: 60px 16px;
    overflow: hidden;
    @include breakpoint(small) {
      padding: 120px 0px;
    }
    @include modifier('cards') {
      @include breakpoint(small) {
        padding: 0px 16px;
      }
      div {
        width: 100%;
        text-align: center;
        padding: 48px 20px 48px 20px;
        min-height: 368px;
        position: relative;
        @include breakpoint(small) {
          float: left;
          width: 50%;
          text-align: left;
          padding: 112px 68px 88px 48px;

        }
        h2 {
          @include font-size(2.2);
          margin-bottom: 16px;
          line-height: 1.23;
          font-family: $sans-serif-medium;
          font-weight: normal;
          letter-spacing: 0;
          @include breakpoint(small) {
            width: 60%;
            @include font-size(2.6);
          }
        }
        p {
          @include font-size(5.5);
          @include breakpoint(small) {
            width: 58%;
            @include font-size(7.5);

          }
        }
        a {
          @include breakpoint(small) {
            position: absolute;
            bottom: 88px;
            left: 56px;
          }
        }
        img {
          display: block;
          padding-bottom: 50px;
          margin: 0px auto;
          @include breakpoint(small) {
            position: absolute;
            padding-bottom: 0px;
          }
        }

        &:nth-child(1) {
          background: $aqua-white;
          h2,
          p,
          a {
            color: $blue-core;
          }
          img {
            width: 203px;
            right: 40px;
            top: 116px;
          }
          &:before {
            width: 56px;
            height: 56px;
            background: $aqua;
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
        &:nth-child(2) {
          background: $navy;
          h2,
          p,
          a {
            color: $white;
          }
          img {
            width: 137px;
            right: 55px;
            top: 115px;
          }
        }
        &:nth-child(3) {
          background: $blue-medium-ov;
          i {
            margin-right: 8px;
          }
          h2,
          p,
          a {
            color: $white;
          }
          img {
            width: 136px;
            right: 55px;
            top: 116px;
          }
        }
        &:nth-child(4) {
          background: $blue-medium-wcag;
          h2,
          p,
          a {
            color: $white;
          }
          img {
            width: 136px;
            right: 55px;
            top: 116px;
          }
        }
      }
    }
  }
}


.program-carousel {
  padding: 20% 16px 5% 16px;
  text-align:center;
  max-width: 1600px;
  margin: 0 auto;
  h2{
    text-align:center;
    font-family:$sans-serif-light;
    color:$grey600;
  }
  p{
    text-align:center;
    color:$grey500;
    padding:8px 0px 20px 0px;
    line-height:18px;
  }

  @include breakpoint(small) {
    padding:10% 16px 3% 16px;
    h2{
      text-align:center;
      font-family:$sans-serif-light;
      color:$grey600;

    }
    p{
      text-align:center;
      color:$grey500;
      padding:8px 0px 20px 0px;
    }
  }

  programCarousel {
    margin: 46px 0px 0px;
    display:block;
    @include breakpoint(small) {
      margin: 46px 0px 40px;
    }
  }

}