<app-background-image-component>
  <div class="heroarea__content">
    <div>
      <h1>Welcome to DCC India</h1>
      <p>DCC India is an Innovation &amp; Development Center with precision and balanced on-site presence Services for both Compass and NDB within BBVA. </p>
    </div>
  </div>
  <div class="heroarea__content--image">
    <img src="./assets/img/City_Graphic.png" alt="bbva city graphic">
  </div>
</app-background-image-component>
<!--program carousal section-->
<section class="bg-grey100">
  <div class="program-carousel">
    <div class="container">
      <h2>Programs</h2>
      <p>Here are the programs that are currently in-progress at DCC India.</p>
    </div>
    <programCarousel style="width: 100%;"></programCarousel>
  </div>
</section>
<!--program carousal section-->
<!--current status header-->
<section class="bg-grey100 status__header">
  <div class="container">
    <h2>Current status</h2>
    <p>See current status on each program that are in-progess and their details.</p>
    <a href="#" target="_blank"><i class="ui-filled-down"></i> See Program details</a>
  </div>
</section>
<!--current status headerend-->
<!--status section start-->
<section class="status__section bg-blue-core">
  <div class="container status__section--cards">
    <div>
      <img src="../../assets/img/programs.png" alt="programs">
      <h2>Total number of programs</h2>
      <p>{{result.totalPrograms}}</p>
    </div>
    <div>
      <img src="../../assets/img/offshoreResource.png" alt="offshoreResource">
      <h2>Total number of offshore resources</h2>
      <p>{{result.totalOffShore}}</p>
    </div>
    <div>
      <img src="../../assets/img/programSpends.png" alt="programSpends">
      <h2>Program spend in $</h2>
      <p>{{result.totalSpending | amountSuffix:1}}</p>
    </div>
    <div>
      <img src="../../assets/img/programSavings.png" alt="programSavings">
      <h2>Program saving in $</h2>
      <p>{{result.totalProgramSaving | amountSuffix:1}}</p>
    </div>
  </div>
</section>
<!--status section end-->

<!--upcoming section
<section class="upcoming__section">

</section>
<!--upcoming section-->
