<div class="bs-example">
  <div class="icon-wrapper">
    <div class="icon-card">
      <span class="ui-add-notes"></span>
      <p>ui-add-notes</p>
    </div>
    <div class="icon-card">
      <span class="ui-address-book"></span>
      <p>ui-address-book</p>
    </div>
    <div class="icon-card">
      <span class="ui-alarm"></span>
      <p>ui-alarm</p>
    </div>
    <div class="icon-card">
      <span class="ui-alphabetize"></span>
      <p>ui-alphabetize</p>
    </div>
    <div class="icon-card">
      <span class="ui-bizum"></span>
      <p>ui-bizum</p>
    </div>
    <div class="icon-card">
      <span class="ui-app-wallet"></span>
      <p>ui-app-wallet</p>
    </div>
    <div class="icon-card">
      <span class="ui-apple-store"></span>
      <p>ui-apple-store</p>
    </div>
    <div class="icon-card">
      <span class="ui-filled-diagonal"></span>
      <p>ui-filled-diagonal</p>
    </div>
    <div class="icon-card">
      <span class="ui-filled-down"></span>
      <p>ui-filled-down</p>
    </div>
    <div class="icon-card">
      <span class="ui-filled-up"></span>
      <p>ui-filled-up</p>
    </div>
    <div class="icon-card">
      <span class="ui-filled-right"></span>
      <p>ui-filled-right</p>
    </div>
    <div class="icon-card">
      <span class="ui-arrow-left"></span>
      <p>ui-arrow-left</p>
    </div>
    <div class="icon-card">
      <span class="ui-simple-down"></span>
      <p>ui-simple-down</p>
    </div>
    <div class="icon-card">
      <span class="ui-simple-filled-down"></span>
      <p>ui-simple-filled-down</p>
    </div>
    <div class="icon-card">
      <span class="ui-simple-left"></span>
      <p>ui-simple-left</p>
    </div>
    <div class="icon-card">
      <span class="ui-simple-right"></span>
      <p>ui-simple-right</p>
    </div>
    <div class="icon-card">
      <span class="ui-simple-up"></span>
      <p>ui-simple-up</p>
    </div>
    <div class="icon-card">
      <span class="ui-atm"></span>
      <p>ui-atm</p>
    </div>
    <div class="icon-card">
      <span class="ui-audio"></span>
      <p>ui-audio</p>
    </div>
    <div class="icon-card">
      <span class="ui-baby-bottle"></span>
      <p>ui-baby-bottle</p>
    </div>
    <div class="icon-card">
      <span class="ui-balance"></span>
      <p>ui-balance</p>
    </div>
    <div class="icon-card">
      <span class="ui-bank"></span>
      <p>ui-bank</p>
    </div>
    <div class="icon-card">
      <span class="ui-barcode"></span>
      <p>ui-barcode</p>
    </div>
    <div class="icon-card">
      <span class="ui-basket"></span>
      <p>ui-basket</p>
    </div>
    <div class="icon-card">
      <span class="ui-bbva-business-partner"></span>
      <p>ui-bbva-business-partner</p>
    </div>
    <div class="icon-card">
      <span class="ui-bbva-contigo"></span>
      <p>ui-bbva-contigo</p>
    </div>
    <div class="icon-card">
      <span class="ui-bbva-office"></span>
      <p>ui-bbva-office</p>
    </div>
    <div class="icon-card">
      <span class="ui-block"></span>
      <p>ui-block</p>
    </div>
    <div class="icon-card">
      <span class="ui-blog-filled"></span>
      <p>ui-blog-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-bluetooth"></span>
      <p>ui-bluetooth</p>
    </div>
    <div class="icon-card">
      <span class="ui-bonus-accounts"></span>
      <p>ui-bonus-accounts</p>
    </div>
    <div class="icon-card">
      <span class="ui-book"></span>
      <p>ui-book</p>
    </div>
    <div class="icon-card">
      <span class="ui-bread-loaf"></span>
      <p>ui-bread-loaf</p>
    </div>
    <div class="icon-card">
      <span class="ui-butcher-knife"></span>
      <p>ui-butcher-knife</p>
    </div>
    <div class="icon-card">
      <span class="ui-cake"></span>
      <p>ui-cake</p>
    </div>
    <div class="icon-card">
      <span class="ui-calendar"></span>
      <p>ui-calendar</p>
    </div>
    <div class="icon-card">
      <span class="ui-camera"></span>
      <p>ui-camera</p>
    </div>
    <div class="icon-card">
      <span class="ui-car"></span>
      <p>ui-car</p>
    </div>
    <div class="icon-card">
      <span class="ui-car-bank"></span>
      <p>ui-car-bank</p>
    </div>
    <div class="icon-card">
      <span class="ui-car-moons"></span>
      <p>ui-car-moons</p>
    </div>
    <div class="icon-card">
      <span class="ui-car-plus"></span>
      <p>ui-car-plus</p>
    </div>
    <div class="icon-card">
      <span class="ui-card"></span>
      <p>ui-card</p>
    </div>
    <div class="icon-card">
      <span class="ui-cash"></span>
      <p>ui-cash</p>
    </div>
    <div class="icon-card">
      <span class="ui-cash-register"></span>
      <p>ui-cash-register</p>
    </div>
    <div class="icon-card">
      <span class="ui-cash-up"></span>
      <p>ui-cash-up</p>
    </div>
    <div class="icon-card">
      <span class="ui-chat"></span>
      <p>ui-chat</p>
    </div>
    <div class="icon-card">
      <span class="ui-chat-conversation"></span>
      <p>ui-chat-conversation</p>
    </div>
    <div class="icon-card">
      <span class="ui-checkmark"></span>
      <p>ui-checkmark</p>
    </div>
    <div class="icon-card">
      <span class="ui-checkmark-filled"></span>
      <p>ui-checkmark-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-children"></span>
      <p>ui-children</p>
    </div>
    <div class="icon-card">
      <span class="ui-clock"></span>
      <p>ui-clock</p>
    </div>
    <div class="icon-card">
      <span class="ui-cloud"></span>
      <p>ui-cloud</p>
    </div>
    <div class="icon-card">
      <span class="ui-coffee"></span>
      <p>ui-coffee</p>
    </div>
    <div class="icon-card">
      <span class="ui-color"></span>
      <p>ui-color</p>
    </div>
    <div class="icon-card">
      <span class="ui-compass"></span>
      <p>ui-compass</p>
    </div>
    <div class="icon-card">
      <span class="ui-configuration"></span>
      <p>ui-configuration</p>
    </div>
    <div class="icon-card">
      <span class="ui-copy"></span>
      <p>ui-copy</p>
    </div>
    <div class="icon-card">
      <span class="ui-copy-card"></span>
      <p>ui-copy-card</p>
    </div>
    <div class="icon-card">
      <span class="ui-couple"></span>
      <p>ui-couple</p>
    </div>
    <div class="icon-card">
      <span class="ui-currency-exchange"></span>
      <p>ui-currency-exchange</p>
    </div>
    <div class="icon-card">
      <span class="ui-deactivate-card"></span>
      <p>ui-deactivate-card</p>
    </div>
    <div class="icon-card">
      <span class="ui-desktop"></span>
      <p>ui-desktop</p>
    </div>
    <div class="icon-card">
      <span class="ui-deposit"></span>
      <p>ui-deposit</p>
    </div>
    <div class="icon-card">
      <span class="ui-diamond"></span>
      <p>ui-diamond</p>
    </div>
    <div class="icon-card">
      <span class="ui-digital-card"></span>
      <p>ui-digital-card</p>
    </div>
    <div class="icon-card">
      <span class="ui-digital-press"></span>
      <p>ui-digital-press</p>
    </div>
    <div class="icon-card">
      <span class="ui-digital-signature"></span>
      <p>ui-digital-signature</p>
    </div>
    <div class="icon-card">
      <span class="ui-digital-tv"></span>
      <p>ui-digital-tv</p>
    </div>
    <div class="icon-card">
      <span class="ui-discount"></span>
      <p>ui-discount</p>
    </div>
    <div class="icon-card">
      <span class="ui-divide-filled"></span>
      <p>ui-divide-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-document-simple"></span>
      <p>ui-document-simple</p>
    </div>
    <div class="icon-card">
      <span class="ui-dollar"></span>
      <p>ui-dollar</p>
    </div>
    <div class="icon-card">
      <span class="ui-edit"></span>
      <p>ui-edit</p>
    </div>
    <div class="icon-card">
      <span class="ui-email"></span>
      <p>ui-email</p>
    </div>
    <div class="icon-card">
      <span class="ui-email-open"></span>
      <p>ui-email-open</p>
    </div>
    <div class="icon-card">
      <span class="ui-empty-card"></span>
      <p>ui-empty-card</p>
    </div>
    <div class="icon-card">
      <span class="ui-euro"></span>
      <p>ui-euro</p>
    </div>
    <div class="icon-card">
      <span class="ui-executive"></span>
      <p>ui-executive</p>
    </div>
    <div class="icon-card">
      <span class="ui-express-account"></span>
      <p>ui-express-account</p>
    </div>
    <div class="icon-card">
      <span class="ui-facebook"></span>
      <p>ui-facebook</p>
    </div>
    <div class="icon-card">
      <span class="ui-facebook-filled"></span>
      <p>ui-facebook-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-factory"></span>
      <p>ui-factory</p>
    </div>
    <div class="icon-card">
      <span class="ui-fast-food"></span>
      <p>ui-fast-food</p>
    </div>
    <div class="icon-card">
      <span class="ui-filter"></span>
      <p>ui-filter</p>
    </div>
    <div class="icon-card">
      <span class="ui-fingerprint"></span>
      <p>ui-fingerprint</p>
    </div>
    <div class="icon-card">
      <span class="ui-first-page"></span>
      <p>ui-first-page</p>
    </div>
    <div class="icon-card">
      <span class="ui-flag"></span>
      <p>ui-flag</p>
    </div>
    <div class="icon-card">
      <span class="ui-flower"></span>
      <p>ui-flower</p>
    </div>
    <div class="icon-card">
      <span class="ui-fork-knife"></span>
      <p>ui-fork-knife</p>
    </div>
    <div class="icon-card">
      <span class="ui-frequency"></span>
      <p>ui-frequency</p>
    </div>
    <div class="icon-card">
      <span class="ui-gavel"></span>
      <p>ui-gavel</p>
    </div>
    <div class="icon-card">
      <span class="ui-globe"></span>
      <p>ui-globe</p>
    </div>
    <div class="icon-card">
      <span class="ui-google-plus"></span>
      <p>ui-google-plus</p>
    </div>
    <div class="icon-card">
      <span class="ui-google-plus-filled"></span>
      <p>ui-google-plus-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-gradution-cap"></span>
      <p>ui-gradution-cap</p>
    </div>
    <div class="icon-card">
      <span class="ui-graphics"></span>
      <p>ui-graphics</p>
    </div>
    <div class="icon-card">
      <span class="ui-grid-view"></span>
      <p>ui-grid-view</p>
    </div>
    <div class="icon-card">
      <span class="ui-happy-face"></span>
      <p>ui-happy-face</p>
    </div>
    <div class="icon-card">
      <span class="ui-hashtag"></span>
      <p>ui-hashtag</p>
    </div>
    <div class="icon-card">
      <span class="ui-health"></span>
      <p>ui-health</p>
    </div>
    <div class="icon-card">
      <span class="ui-heart"></span>
      <p>ui-heart</p>
    </div>
    <div class="icon-card">
      <span class="ui-help"></span>
      <p>ui-help</p>
    </div>
    <div class="icon-card">
      <span class="ui-hide"></span>
      <p>ui-hide</p>
    </div>
    <div class="icon-card">
      <span class="ui-history"></span>
      <p>ui-history</p>
    </div>
    <div class="icon-card">
      <span class="ui-home"></span>
      <p>ui-home</p>
    </div>
    <div class="icon-card">
      <span class="ui-hotel"></span>
      <p>ui-hotel</p>
    </div>
    <div class="icon-card">
      <span class="ui-icecream"></span>
      <p>ui-icecream</p>
    </div>
    <div class="icon-card">
      <span class="ui-id-card"></span>
      <p>ui-id-card</p>
    </div>
    <div class="icon-card">
      <span class="ui-identify-call"></span>
      <p>ui-identify-call</p>
    </div>
    <div class="icon-card">
      <span class="ui-illustration"></span>
      <p>ui-illustration</p>
    </div>
    <div class="icon-card">
      <span class="ui-info"></span>
      <p>ui-info</p>
    </div>
    <div class="icon-card">
      <span class="ui-instagram"></span>
      <p>ui-instagram</p>
    </div>
    <div class="icon-card">
      <span class="ui-instagram-filled"></span>
      <p>ui-instagram-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-insurance"></span>
      <p>ui-insurance</p>
    </div>
    <div class="icon-card">
      <span class="ui-investment"></span>
      <p>ui-investment</p>
    </div>
    <div class="icon-card">
      <span class="ui-investment-fixed"></span>
      <p>ui-investment-fixed</p>
    </div>
    <div class="icon-card">
      <span class="ui-investment-variable"></span>
      <p>ui-investment-variable</p>
    </div>
    <div class="icon-card">
      <span class="ui-jpg-doc"></span>
      <p>ui-jpg-doc</p>
    </div>
    <div class="icon-card">
      <span class="ui-keyboard"></span>
      <p>ui-keyboard</p>
    </div>
    <div class="icon-card">
      <span class="ui-last-page"></span>
      <p>ui-last-page</p>
    </div>
    <div class="icon-card">
      <span class="ui-lightbulb"></span>
      <p>ui-lightbulb</p>
    </div>
    <div class="icon-card">
      <span class="ui-limits"></span>
      <p>ui-limits</p>
    </div>
    <div class="icon-card">
      <span class="ui-link"></span>
      <p>ui-link</p>
    </div>
    <div class="icon-card">
      <span class="ui-linkedin"></span>
      <p>ui-linkedin</p>
    </div>
    <div class="icon-card">
      <span class="ui-linkedin-filled"></span>
      <p>ui-linkedin-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-list-view"></span>
      <p>ui-list-view</p>
    </div>
    <div class="icon-card">
      <span class="ui-loan"></span>
      <p>ui-loan</p>
    </div>
    <div class="icon-card">
      <span class="ui-lock"></span>
      <p>ui-lock</p>
    </div>
    <div class="icon-card">
      <span class="ui-look-up"></span>
      <p>ui-look-up</p>
    </div>
    <div class="icon-card">
      <span class="ui-map"></span>
      <p>ui-map</p>
    </div>
    <div class="icon-card">
      <span class="ui-medical-kit"></span>
      <p>ui-medical-kit</p>
    </div>
    <div class="icon-card">
      <span class="ui-menu"></span>
      <p>ui-menu</p>
    </div>
    <div class="icon-card">
      <span class="ui-microphone"></span>
      <p>ui-microphone</p>
    </div>
    <div class="icon-card">
      <span class="ui-minus"></span>
      <p>ui-minus</p>
    </div>
    <div class="icon-card">
      <span class="ui-minus-filled"></span>
      <p>ui-minus-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-mobile"></span>
      <p>ui-mobile</p>
    </div>
    <div class="icon-card">
      <span class="ui-mobile-cash-dollar"></span>
      <p>ui-mobile-cash-dollar</p>
    </div>
    <div class="icon-card">
      <span class="ui-mobile-cash-euro"></span>
      <p>ui-mobile-cash-euro</p>
    </div>
    <div class="icon-card">
      <span class="ui-mobile-charge"></span>
      <p>ui-mobile-charge</p>
    </div>
    <div class="icon-card">
      <span class="ui-mobile-off"></span>
      <p>ui-mobile-off</p>
    </div>
    <div class="icon-card">
      <span class="ui-mobile-payment"></span>
      <p>ui-mobile-payment</p>
    </div>
    <div class="icon-card">
      <span class="ui-more"></span>
      <p>ui-more</p>
    </div>
    <div class="icon-card">
      <span class="ui-morgage"></span>
      <p>ui-morgage</p>
    </div>
    <div class="icon-card">
      <span class="ui-mug"></span>
      <p>ui-mug</p>
    </div>
    <div class="icon-card">
      <span class="ui-nfc"></span>
      <p>ui-nfc</p>
    </div>
    <div class="icon-card">
      <span class="ui-nfc-disconencted"></span>
      <p>ui-nfc-disconencted</p>
    </div>
    <div class="icon-card">
      <span class="ui-no-pin-pad"></span>
      <p>ui-no-pin-pad</p>
    </div>
    <div class="icon-card">
      <span class="ui-non-client"></span>
      <p>ui-non-client</p>
    </div>
    <div class="icon-card">
      <span class="ui-office-building"></span>
      <p>ui-office-building</p>
    </div>
    <div class="icon-card">
      <span class="ui-on-off"></span>
      <p>ui-on-off</p>
    </div>
    <div class="icon-card">
      <span class="ui-one-click"></span>
      <p>ui-one-click</p>
    </div>
    <div class="icon-card">
      <span class="ui-pacifier"></span>
      <p>ui-pacifier</p>
    </div>
    <div class="icon-card">
      <span class="ui-partly-sunny"></span>
      <p>ui-partly-sunny</p>
    </div>
    <div class="icon-card">
      <span class="ui-pause-simple"></span>
      <p>ui-pause-simple</p>
    </div>
    <div class="icon-card">
      <span class="ui-paw"></span>
      <p>ui-paw</p>
    </div>
    <div class="icon-card">
      <span class="ui-pdf-doc"></span>
      <p>ui-pdf-doc</p>
    </div>
    <div class="icon-card">
      <span class="ui-phishing"></span>
      <p>ui-phishing</p>
    </div>
    <div class="icon-card">
      <span class="ui-photo"></span>
      <p>ui-photo</p>
    </div>
    <div class="icon-card">
      <span class="ui-piggy-bank"></span>
      <p>ui-piggy-bank</p>
    </div>
    <div class="icon-card">
      <span class="ui-pin"></span>
      <p>ui-pin</p>
    </div>
    <div class="icon-card">
      <span class="ui-pin-checkmark"></span>
      <p>ui-pin-checkmark</p>
    </div>
    <div class="icon-card">
      <span class="ui-pin-pad"></span>
      <p>ui-pin-pad</p>
    </div>
    <div class="icon-card">
      <span class="ui-pin-searching"></span>
      <p>ui-pin-searching</p>
    </div>
    <div class="icon-card">
      <span class="ui-pin-x"></span>
      <p>ui-pin-x</p>
    </div>
    <div class="icon-card">
      <span class="ui-pinterest"></span>
      <p>ui-pinterest</p>
    </div>
    <div class="icon-card">
      <span class="ui-pinterest-filled"></span>
      <p>ui-pinterest-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-play-filled"></span>
      <p>ui-play-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-play-simple"></span>
      <p>ui-play-simple</p>
    </div>
    <div class="icon-card">
      <span class="ui-play-store"></span>
      <p>ui-play-store</p>
    </div>
    <div class="icon-card">
      <span class="ui-plus"></span>
      <p>ui-plus</p>
    </div>
    <div class="icon-card">
      <span class="ui-plus-filled"></span>
      <p>ui-plus-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-points"></span>
      <p>ui-points</p>
    </div>
    <div class="icon-card">
      <span class="ui-popcorn"></span>
      <p>ui-popcorn</p>
    </div>
    <div class="icon-card">
      <span class="ui-portfolio"></span>
      <p>ui-portfolio</p>
    </div>
    <div class="icon-card">
      <span class="ui-present"></span>
      <p>ui-present</p>
    </div>
    <div class="icon-card">
      <span class="ui-press"></span>
      <p>ui-press</p>
    </div>
    <div class="icon-card">
      <span class="ui-previous-appointment"></span>
      <p>ui-previous-appointment</p>
    </div>
    <div class="icon-card">
      <span class="ui-price-tag"></span>
      <p>ui-price-tag</p>
    </div>
    <div class="icon-card">
      <span class="ui-print"></span>
      <p>ui-print</p>
    </div>
    <div class="icon-card">
      <span class="ui-profile"></span>
      <p>ui-profile</p>
    </div>
    <div class="icon-card">
      <span class="ui-promotions"></span>
      <p>ui-promotions</p>
    </div>
    <div class="icon-card">
      <span class="ui-quote"></span>
      <p>ui-quote</p>
    </div>
    <div class="icon-card">
      <span class="ui-radio"></span>
      <p>ui-radio</p>
    </div>
    <div class="icon-card">
      <span class="ui-re-tweet"></span>
      <p>ui-re-tweet</p>
    </div>
    <div class="icon-card">
      <span class="ui-receipt"></span>
      <p>ui-receipt</p>
    </div>
    <div class="icon-card">
      <span class="ui-receipt-accepted"></span>
      <p>ui-receipt-accepted</p>
    </div>
    <div class="icon-card">
      <span class="ui-refill-card"></span>
      <p>ui-refill-card</p>
    </div>
    <div class="icon-card">
      <span class="ui-reply"></span>
      <p>ui-reply</p>
    </div>
    <div class="icon-card">
      <span class="ui-return-money"></span>
      <p>ui-return-money</p>
    </div>
    <div class="icon-card">
      <span class="ui-rubberduck"></span>
      <p>ui-rubberduck</p>
    </div>
    <div class="icon-card">
      <span class="ui-save-for-later"></span>
      <p>ui-save-for-later</p>
    </div>
    <div class="icon-card">
      <span class="ui-scam"></span>
      <p>ui-scam</p>
    </div>
    <div class="icon-card">
      <span class="ui-search"></span>
      <p>ui-search</p>
    </div>
    <div class="icon-card">
      <span class="ui-see-ccv"></span>
      <p>ui-see-ccv</p>
    </div>
    <div class="icon-card">
      <span class="ui-send"></span>
      <p>ui-send</p>
    </div>
    <div class="icon-card">
      <span class="ui-services"></span>
      <p>ui-services</p>
    </div>
    <div class="icon-card">
      <span class="ui-settings"></span>
      <p>ui-settings</p>
    </div>
    <div class="icon-card">
      <span class="ui-share"></span>
      <p>ui-share</p>
    </div>
    <div class="icon-card">
      <span class="ui-shirt"></span>
      <p>ui-shirt</p>
    </div>
    <div class="icon-card">
      <span class="ui-shopping-bag"></span>
      <p>ui-shopping-bag</p>
    </div>
    <div class="icon-card">
      <span class="ui-show"></span>
      <p>ui-show</p>
    </div>
    <div class="icon-card">
      <span class="ui-simulator"></span>
      <p>ui-simulator</p>
    </div>
    <div class="icon-card">
      <span class="ui-slideshare"></span>
      <p>ui-slideshare</p>
    </div>
    <div class="icon-card">
      <span class="ui-slideshare-filled"></span>
      <p>ui-slideshare-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-snowflake"></span>
      <p>ui-snowflake</p>
    </div>
    <div class="icon-card">
      <span class="ui-stairs"></span>
      <p>ui-stairs</p>
    </div>
    <div class="icon-card">
      <span class="ui-stock"></span>
      <p>ui-stock</p>
    </div>
    <div class="icon-card">
      <span class="ui-store-front"></span>
      <p>ui-store-front</p>
    </div>
    <div class="icon-card">
      <span class="ui-tablet"></span>
      <p>ui-tablet</p>
    </div>
    <div class="icon-card">
      <span class="ui-team"></span>
      <p>ui-team</p>
    </div>
    <div class="icon-card">
      <span class="ui-telephone"></span>
      <p>ui-telephone</p>
    </div>
    <div class="icon-card">
      <span class="ui-ticket"></span>
      <p>ui-ticket</p>
    </div>
    <div class="icon-card">
      <span class="ui-ticket-bbva-office"></span>
      <p>ui-ticket-bbva-office</p>
    </div>
    <div class="icon-card">
      <span class="ui-ticket-stub"></span>
      <p>ui-ticket-stub</p>
    </div>
    <div class="icon-card">
      <span class="ui-token"></span>
      <p>ui-token</p>
    </div>
    <div class="icon-card">
      <span class="ui-tools"></span>
      <p>ui-tools</p>
    </div>
    <div class="icon-card">
      <span class="ui-transfer"></span>
      <p>ui-transfer</p>
    </div>
    <div class="icon-card">
      <span class="ui-transfer-to-account"></span>
      <p>ui-transfer-to-account</p>
    </div>
    <div class="icon-card">
      <span class="ui-transfer-to-card"></span>
      <p>ui-transfer-to-card</p>
    </div>
    <div class="icon-card">
      <span class="ui-trash"></span>
      <p>ui-trash</p>
    </div>
    <div class="icon-card">
      <span class="ui-travel"></span>
      <p>ui-travel</p>
    </div>
    <div class="icon-card">
      <span class="ui-turnbox"></span>
      <p>ui-turnbox</p>
    </div>
    <div class="icon-card">
      <span class="ui-tv"></span>
      <p>ui-tv</p>
    </div>
    <div class="icon-card">
      <span class="ui-twitter"></span>
      <p>ui-twitter</p>
    </div>
    <div class="icon-card">
      <span class="ui-twitter-filled"></span>
      <p>ui-twitter-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-unhappy-face"></span>
      <p>ui-unhappy-face</p>
    </div>
    <div class="icon-card">
      <span class="ui-unlock"></span>
      <p>ui-unlock</p>
    </div>
    <div class="icon-card">
      <span class="ui-update"></span>
      <p>ui-update</p>
    </div>
    <div class="icon-card">
      <span class="ui-video-chat"></span>
      <p>ui-video-chat</p>
    </div>
    <div class="icon-card">
      <span class="ui-vr"></span>
      <p>ui-vr</p>
    </div>
    <div class="icon-card">
      <span class="ui-walking"></span>
      <p>ui-walking</p>
    </div>
    <div class="icon-card">
      <span class="ui-warning"></span>
      <p>ui-warning</p>
    </div>
    <div class="icon-card">
      <span class="ui-watch"></span>
      <p>ui-watch</p>
    </div>
    <div class="icon-card">
      <span class="ui-wellness"></span>
      <p>ui-wellness</p>
    </div>
    <div class="icon-card">
      <span class="ui-woman"></span>
      <p>ui-woman</p>
    </div>
    <div class="icon-card">
      <span class="ui-word-doc"></span>
      <p>ui-word-doc</p>
    </div>
    <div class="icon-card">
      <span class="ui-x"></span>
      <p>ui-x</p>
    </div>
    <div class="icon-card">
      <span class="ui-x-filled"></span>
      <p>ui-x-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-xls-doc"></span>
      <p>ui-xls-doc</p>
    </div>
    <div class="icon-card">
      <span class="ui-xml-doc"></span>
      <p>ui-xml-doc</p>
    </div>
    <div class="icon-card">
      <span class="ui-youtube"></span>
      <p>ui-youtube</p>
    </div>
    <div class="icon-card">
      <span class="ui-youtube-filled"></span>
      <p>ui-youtube-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-account"></span>
      <p>ui-account</p>
    </div>
    <div class="icon-card">
      <span class="ui-at"></span>
      <p>ui-at</p>
    </div>
    <div class="icon-card">
      <span class="ui-list-bullet"></span>
      <p>ui-list-bullet</p>
    </div>
    <div class="icon-card">
      <span class="ui-arrow-down"></span>
      <p>ui-arrow-down</p>
    </div>
    <div class="icon-card">
      <span class="ui-arrow-up"></span>
      <p>ui-arrow-up</p>
    </div>
    <div class="icon-card">
      <span class="ui-arrow-right"></span>
      <p>ui-arrow-right</p>
    </div>
    <div class="icon-card">
      <span class="ui-filled-left"></span>
      <p>ui-filled-left</p>
    </div>
    <div class="icon-card">
      <span class="ui-archive"></span>
      <p>ui-archive</p>
    </div>
    <div class="icon-card">
      <span class="ui-favorite"></span>
      <p>ui-favorite</p>
    </div>
    <div class="icon-card">
      <span class="ui-attach"></span>
      <p>ui-attach</p>
    </div>
    <div class="icon-card">
      <span class="ui-rotate-screen"></span>
      <p>ui-rotate-screen</p>
    </div>
    <div class="icon-card">
      <span class="ui-receipt-denied"></span>
      <p>ui-receipt-denied</p>
    </div>
    <div class="icon-card">
      <span class="ui-ticket-euro"></span>
      <p>ui-ticket-euro</p>
    </div>
    <div class="icon-card">
      <span class="ui-periodical-transfer"></span>
      <p>ui-periodical-transfer</p>
    </div>
    <div class="icon-card">
      <span class="ui-vacations"></span>
      <p>ui-vacations</p>
    </div>
    <div class="icon-card">
      <span class="ui-occupationally-active"></span>
      <p>ui-occupationally-active</p>
    </div>
    <div class="icon-card">
      <span class="ui-land"></span>
      <p>ui-land</p>
    </div>
    <div class="icon-card">
      <span class="ui-functional-square"></span>
      <p>ui-functional-square</p>
    </div>
    <div class="icon-card">
      <span class="ui-commercial-promotion"></span>
      <p>ui-commercial-promotion</p>
    </div>
    <div class="icon-card">
      <span class="ui-built-land"></span>
      <p>ui-built-land</p>
    </div>
    <div class="icon-card">
      <span class="ui-bus"></span>
      <p>ui-bus</p>
    </div>
    <div class="icon-card">
      <span class="ui-motorcycle-garage"></span>
      <p>ui-motorcycle-garage</p>
    </div>
    <div class="icon-card">
      <span class="ui-workshop"></span>
      <p>ui-workshop</p>
    </div>
    <div class="icon-card">
      <span class="ui-airplane"></span>
      <p>ui-airplane</p>
    </div>
    <div class="icon-card">
      <span class="ui-campus"></span>
      <p>ui-campus</p>
    </div>
    <div class="icon-card">
      <span class="ui-physiotherapy"></span>
      <p>ui-physiotherapy</p>
    </div>
    <div class="icon-card">
      <span class="ui-pill"></span>
      <p>ui-pill</p>
    </div>
    <div class="icon-card">
      <span class="ui-partner"></span>
      <p>ui-partner</p>
    </div>
    <div class="icon-card">
      <span class="ui-theatre"></span>
      <p>ui-theatre</p>
    </div>
    <div class="icon-card">
      <span class="ui-wifi"></span>
      <p>ui-wifi</p>
    </div>
    <div class="icon-card">
      <span class="ui-usd"></span>
      <p>ui-usd</p>
    </div>
    <div class="icon-card">
      <span class="ui-copyright"></span>
      <p>ui-copyright</p>
    </div>
    <div class="icon-card">
      <span class="ui-hpd"></span>
      <p>ui-hpd</p>
    </div>
    <div class="icon-card">
      <span class="ui-pay-sheet"></span>
      <p>ui-pay-sheet</p>
    </div>
    <div class="icon-card">
      <span class="ui-my-project"></span>
      <p>ui-my-project</p>
    </div>
    <div class="icon-card">
      <span class="ui-biking"></span>
      <p>ui-biking</p>
    </div>
    <div class="icon-card">
      <span class="ui-contigo"></span>
      <p>ui-contigo</p>
    </div>
    <div class="icon-card">
      <span class="ui-my-location"></span>
      <p>ui-my-location</p>
    </div>
    <div class="icon-card">
      <span class="ui-near-me"></span>
      <p>ui-near-me</p>
    </div>
    <div class="icon-card">
      <span class="ui-ticket-location"></span>
      <p>ui-ticket-location</p>
    </div>
    <div class="icon-card">
      <span class="ui-360-view"></span>
      <p>ui-360-view</p>
    </div>
    <div class="icon-card">
      <span class="ui-blind-app"></span>
      <p>ui-blind-app</p>
    </div>
    <div class="icon-card">
      <span class="ui-business-intelligent"></span>
      <p>ui-business-intelligent</p>
    </div>
    <div class="icon-card">
      <span class="ui-mobile-print"></span>
      <p>ui-mobile-print</p>
    </div>
    <div class="icon-card">
      <span class="ui-sms"></span>
      <p>ui-sms</p>
    </div>
    <div class="icon-card">
      <span class="ui-transaction"></span>
      <p>ui-transaction</p>
    </div>
    <div class="icon-card">
      <span class="ui-order"></span>
      <p>ui-order</p>
    </div>
    <div class="icon-card">
      <span class="ui-balcony"></span>
      <p>ui-balcony</p>
    </div>
    <div class="icon-card">
      <span class="ui-bath"></span>
      <p>ui-bath</p>
    </div>
    <div class="icon-card">
      <span class="ui-bed"></span>
      <p>ui-bed</p>
    </div>
    <div class="icon-card">
      <span class="ui-cocktail"></span>
      <p>ui-cocktail</p>
    </div>
    <div class="icon-card">
      <span class="ui-chess"></span>
      <p>ui-chess</p>
    </div>
    <div class="icon-card">
      <span class="ui-calculator"></span>
      <p>ui-calculator</p>
    </div>
    <div class="icon-card">
      <span class="ui-big-glass"></span>
      <p>ui-big-glass</p>
    </div>
    <div class="icon-card">
      <span class="ui-channels"></span>
      <p>ui-channels</p>
    </div>
    <div class="icon-card">
      <span class="ui-concrete-mixer"></span>
      <p>ui-concrete-mixer</p>
    </div>
    <div class="icon-card">
      <span class="ui-cone"></span>
      <p>ui-cone</p>
    </div>
    <div class="icon-card">
      <span class="ui-construction-helmet"></span>
      <p>ui-construction-helmet</p>
    </div>
    <div class="icon-card">
      <span class="ui-construction-stopped"></span>
      <p>ui-construction-stopped</p>
    </div>
    <div class="icon-card">
      <span class="ui-diaper"></span>
      <p>ui-diaper</p>
    </div>
    <div class="icon-card">
      <span class="ui-directory"></span>
      <p>ui-directory</p>
    </div>
    <div class="icon-card">
      <span class="ui-crane"></span>
      <p>ui-crane</p>
    </div>
    <div class="icon-card">
      <span class="ui-football"></span>
      <p>ui-football</p>
    </div>
    <div class="icon-card">
      <span class="ui-forest"></span>
      <p>ui-forest</p>
    </div>
    <div class="icon-card">
      <span class="ui-identified-call"></span>
      <p>ui-identified-call</p>
    </div>
    <div class="icon-card">
      <span class="ui-hot-mug"></span>
      <p>ui-hot-mug</p>
    </div>
    <div class="icon-card">
      <span class="ui-door"></span>
      <p>ui-door</p>
    </div>
    <div class="icon-card">
      <span class="ui-elevator"></span>
      <p>ui-elevator</p>
    </div>
    <div class="icon-card">
      <span class="ui-glass-with-ice"></span>
      <p>ui-glass-with-ice</p>
    </div>
    <div class="icon-card">
      <span class="ui-high-heel"></span>
      <p>ui-high-heel</p>
    </div>
    <div class="icon-card">
      <span class="ui-internet"></span>
      <p>ui-internet</p>
    </div>
    <div class="icon-card">
      <span class="ui-milk"></span>
      <p>ui-milk</p>
    </div>
    <div class="icon-card">
      <span class="ui-leaf"></span>
      <p>ui-leaf</p>
    </div>
    <div class="icon-card">
      <span class="ui-megaphone"></span>
      <p>ui-megaphone</p>
    </div>
    <div class="icon-card">
      <span class="ui-kitchen"></span>
      <p>ui-kitchen</p>
    </div>
    <div class="icon-card">
      <span class="ui-lamp"></span>
      <p>ui-lamp</p>
    </div>
    <div class="icon-card">
      <span class="ui-no-smoking"></span>
      <p>ui-no-smoking</p>
    </div>
    <div class="icon-card">
      <span class="ui-organization"></span>
      <p>ui-organization</p>
    </div>
    <div class="icon-card">
      <span class="ui-racket"></span>
      <p>ui-racket</p>
    </div>
    <div class="icon-card">
      <span class="ui-school-supplies"></span>
      <p>ui-school-supplies</p>
    </div>
    <div class="icon-card">
      <span class="ui-sites"></span>
      <p>ui-sites</p>
    </div>
    <div class="icon-card">
      <span class="ui-sink"></span>
      <p>ui-sink</p>
    </div>
    <div class="icon-card">
      <span class="ui-security-camera"></span>
      <p>ui-security-camera</p>
    </div>
    <div class="icon-card">
      <span class="ui-small-glass"></span>
      <p>ui-small-glass</p>
    </div>
    <div class="icon-card">
      <span class="ui-recycle"></span>
      <p>ui-recycle</p>
    </div>
    <div class="icon-card">
      <span class="ui-storage"></span>
      <p>ui-storage</p>
    </div>
    <div class="icon-card">
      <span class="ui-thunderbolt"></span>
      <p>ui-thunderbolt</p>
    </div>
    <div class="icon-card">
      <span class="ui-swimming-pool"></span>
      <p>ui-swimming-pool</p>
    </div>
    <div class="icon-card">
      <span class="ui-sun"></span>
      <p>ui-sun</p>
    </div>
    <div class="icon-card">
      <span class="ui-stroller"></span>
      <p>ui-stroller</p>
    </div>
    <div class="icon-card">
      <span class="ui-tpv"></span>
      <p>ui-tpv</p>
    </div>
    <div class="icon-card">
      <span class="ui-very-hot-mug"></span>
      <p>ui-very-hot-mug</p>
    </div>
    <div class="icon-card">
      <span class="ui-video-game"></span>
      <p>ui-video-game</p>
    </div>
    <div class="icon-card">
      <span class="ui-warm-mug"></span>
      <p>ui-warm-mug</p>
    </div>
    <div class="icon-card">
      <span class="ui-baby"></span>
      <p>ui-baby</p>
    </div>
    <div class="icon-card">
      <span class="ui-new-client"></span>
      <p>ui-new-client</p>
    </div>
    <div class="icon-card">
      <span class="ui-my-expenses"></span>
      <p>ui-my-expenses</p>
    </div>
    <div class="icon-card">
      <span class="ui-man"></span>
      <p>ui-man</p>
    </div>
    <div class="icon-card">
      <span class="ui-talent-culture"></span>
      <p>ui-talent-culture</p>
    </div>
    <div class="icon-card">
      <span class="ui-eye-recognition"></span>
      <p>ui-eye-recognition</p>
    </div>
    <div class="icon-card">
      <span class="ui-key"></span>
      <p>ui-key</p>
    </div>
    <div class="icon-card">
      <span class="ui-padlock"></span>
      <p>ui-padlock</p>
    </div>
    <div class="icon-card">
      <span class="ui-photo-login"></span>
      <p>ui-photo-login</p>
    </div>
    <div class="icon-card">
      <span class="ui-buy-stock"></span>
      <p>ui-buy-stock</p>
    </div>
    <div class="icon-card">
      <span class="ui-donations"></span>
      <p>ui-donations</p>
    </div>
    <div class="icon-card">
      <span class="ui-free-dollar"></span>
      <p>ui-free-dollar</p>
    </div>
    <div class="icon-card">
      <span class="ui-free-euro"></span>
      <p>ui-free-euro</p>
    </div>
    <div class="icon-card">
      <span class="ui-loan-euro"></span>
      <p>ui-loan-euro</p>
    </div>
    <div class="icon-card">
      <span class="ui-no-interest"></span>
      <p>ui-no-interest</p>
    </div>
    <div class="icon-card">
      <span class="ui-rent"></span>
      <p>ui-rent</p>
    </div>
    <div class="icon-card">
      <span class="ui-save-stock"></span>
      <p>ui-save-stock</p>
    </div>
    <div class="icon-card">
      <span class="ui-ric"></span>
      <p>ui-ric</p>
    </div>
    <div class="icon-card">
      <span class="ui-facebook-messenger"></span>
      <p>ui-facebook-messenger</p>
    </div>
    <div class="icon-card">
      <span class="ui-google-drive"></span>
      <p>ui-google-drive</p>
    </div>
    <div class="icon-card">
      <span class="ui-google-hangouts"></span>
      <p>ui-google-hangouts</p>
    </div>
    <div class="icon-card">
      <span class="ui-snapchat"></span>
      <p>ui-snapchat</p>
    </div>
    <div class="icon-card">
      <span class="ui-whatsapp"></span>
      <p>ui-whatsapp</p>
    </div>
    <div class="icon-card">
      <span class="ui-percent-filled"></span>
      <p>ui-percent-filled</p>
    </div>
    <div class="icon-card">
      <span class="ui-section-title-bullet"></span>
      <p>ui-section-title-bullet</p>
    </div>
    <div class="icon-card">
      <span class="ui-balance-euro"></span>
      <p>ui-balance-euro</p>
    </div>
    <div class="icon-card">
      <span class="ui-check"></span>
      <p>ui-check</p>
    </div>
    <div class="icon-card">
      <span class="ui-currency-exchange-euro"></span>
      <p>ui-currency-exchange-euro</p>
    </div>
    <div class="icon-card">
      <span class="ui-historical-transfer"></span>
      <p>ui-historical-transfer</p>
    </div>
    <div class="icon-card">
      <span class="ui-self-assessment"></span>
      <p>ui-self-assessment</p>
    </div>
    <div class="icon-card">
      <span class="ui-tax"></span>
      <p>ui-tax</p>
    </div>
    <div class="icon-card">
      <span class="ui-settlement"></span>
      <p>ui-settlement</p>
    </div>
    <div class="icon-card">
      <span class="ui-travel-expenses"></span>
      <p>ui-travel-expenses</p>
    </div>
    <div class="icon-card">
      <span class="ui-a"></span>
      <p>ui-a</p>
    </div>
    <div class="icon-card">
      <span class="ui-bbva-valora"></span>
      <p>ui-bbva-valora</p>
    </div>
    <div class="icon-card">
      <span class="ui-b"></span>
      <p>ui-b</p>
    </div>
    <div class="icon-card">
      <span class="ui-beconomy"></span>
      <p>ui-beconomy</p>
    </div>
    <div class="icon-card">
      <span class="ui-bike-helmet"></span>
      <p>ui-bike-helmet</p>
    </div>
    <div class="icon-card">
      <span class="ui-c"></span>
      <p>ui-c</p>
    </div>
    <div class="icon-card">
      <span class="ui-d"></span>
      <p>ui-d</p>
    </div>
    <div class="icon-card">
      <span class="ui-dna"></span>
      <p>ui-dna</p>
    </div>
    <div class="icon-card">
      <span class="ui-f"></span>
      <p>ui-f</p>
    </div>
    <div class="icon-card">
      <span class="ui-forbidden-pass-bus"></span>
      <p>ui-forbidden-pass-bus</p>
    </div>
    <div class="icon-card">
      <span class="ui-frances-go"></span>
      <p>ui-frances-go</p>
    </div>
    <div class="icon-card">
      <span class="ui-e"></span>
      <p>ui-e</p>
    </div>
    <div class="icon-card">
      <span class="ui-crosswalk"></span>
      <p>ui-crosswalk</p>
    </div>
    <div class="icon-card">
      <span class="ui-j"></span>
      <p>ui-j</p>
    </div>
    <div class="icon-card">
      <span class="ui-k"></span>
      <p>ui-k</p>
    </div>
    <div class="icon-card">
      <span class="ui-l"></span>
      <p>ui-l</p>
    </div>
    <div class="icon-card">
      <span class="ui-m"></span>
      <p>ui-m</p>
    </div>
    <div class="icon-card">
      <span class="ui-es-n"></span>
      <p>ui-es-n</p>
    </div>
    <div class="icon-card">
      <span class="ui-n"></span>
      <p>ui-n</p>
    </div>
    <div class="icon-card">
      <span class="ui-netcash"></span>
      <p>ui-netcash</p>
    </div>
    <div class="icon-card">
      <span class="ui-official-rates"></span>
      <p>ui-official-rates</p>
    </div>
    <div class="icon-card">
      <span class="ui-o"></span>
      <p>ui-o</p>
    </div>
    <div class="icon-card">
      <span class="ui-no-alcohol"></span>
      <p>ui-no-alcohol</p>
    </div>
    <div class="icon-card">
      <span class="ui-motorcycle"></span>
      <p>ui-motorcycle</p>
    </div>
    <div class="icon-card">
      <span class="ui-p"></span>
      <p>ui-p</p>
    </div>
    <div class="icon-card">
      <span class="ui-pic"></span>
      <p>ui-pic</p>
    </div>
    <div class="icon-card">
      <span class="ui-prohibited-zigzag"></span>
      <p>ui-prohibited-zigzag</p>
    </div>
    <div class="icon-card">
      <span class="ui-q"></span>
      <p>ui-q</p>
    </div>
    <div class="icon-card">
      <span class="ui-quality-funds"></span>
      <p>ui-quality-funds</p>
    </div>
    <div class="icon-card">
      <span class="ui-quizz"></span>
      <p>ui-quizz</p>
    </div>
    <div class="icon-card">
      <span class="ui-r"></span>
      <p>ui-r</p>
    </div>
    <div class="icon-card">
      <span class="ui-risk-culture"></span>
      <p>ui-risk-culture</p>
    </div>
    <div class="icon-card">
      <span class="ui-segway"></span>
      <p>ui-segway</p>
    </div>
    <div class="icon-card">
      <span class="ui-s"></span>
      <p>ui-s</p>
    </div>
    <div class="icon-card">
      <span class="ui-scooter"></span>
      <p>ui-scooter</p>
    </div>
    <div class="icon-card">
      <span class="ui-seatbelt"></span>
      <p>ui-seatbelt</p>
    </div>
    <div class="icon-card">
      <span class="ui-snow-tire"></span>
      <p>ui-snow-tire</p>
    </div>
    <div class="icon-card">
      <span class="ui-t"></span>
      <p>ui-t</p>
    </div>
    <div class="icon-card">
      <span class="ui-stop-sign"></span>
      <p>ui-stop-sign</p>
    </div>
    <div class="icon-card">
      <span class="ui-subway"></span>
      <p>ui-subway</p>
    </div>
    <div class="icon-card">
      <span class="ui-traffic-light"></span>
      <p>ui-traffic-light</p>
    </div>
    <div class="icon-card">
      <span class="ui-tires"></span>
      <p>ui-tires</p>
    </div>
    <div class="icon-card">
      <span class="ui-u"></span>
      <p>ui-u</p>
    </div>
    <div class="icon-card">
      <span class="ui-w"></span>
      <p>ui-w</p>
    </div>
    <div class="icon-card">
      <span class="ui-x-letter"></span>
      <p>ui-x-letter</p>
    </div>
    <div class="icon-card">
      <span class="ui-y"></span>
      <p>ui-y</p>
    </div>
    <div class="icon-card">
      <span class="ui-z"></span>
      <p>ui-z</p>
    </div>
    <div class="icon-card">
      <span class="ui-wikimetrics"></span>
      <p>ui-wikimetrics</p>
    </div>
    <div class="icon-card">
      <span class="ui-v"></span>
      <p>ui-v</p>
    </div>
    <div class="icon-card">
      <span class="ui-g"></span>
      <p>ui-g</p>
    </div>
    <div class="icon-card">
      <span class="ui-hold"></span>
      <p>ui-hold</p>
    </div>
    <div class="icon-card">
      <span class="ui-h"></span>
      <p>ui-h</p>
    </div>
    <div class="icon-card">
      <span class="ui-car-accident"></span>
      <p>ui-car-accident</p>
    </div>
    <div class="icon-card">
      <span class="ui-i"></span>
      <p>ui-i</p>
    </div>
    <div class="icon-card">
      <span class="ui-no-headphones"></span>
      <p>ui-no-headphones</p>
    </div>
    <div class="icon-card">
      <span class="ui-bbva-valora-view"></span>
      <p>ui-bbva-valora-view</p>
    </div>
  </div>
</div>